<!doctype html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <meta charset="utf-8">
  <title>SIRH:: Sistema Integral de Recursos Humanos en Salud</title>
  <base href="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.0983d7e2a1b908378219.css"></head>
<body>
  <app-root></app-root>
<script src="runtime-es2015.c5fa8325f89fc516600b.js" type="module"></script><script src="runtime-es5.c5fa8325f89fc516600b.js" nomodule defer></script><script src="polyfills-es5.f91a5ad0b92a0685ff60.js" nomodule defer></script><script src="polyfills-es2015.5b10b8fd823b6392f1fd.js" type="module"></script><script src="scripts.03e042f1f102bf0e2ed8.js" defer></script><script src="main-es2015.b822cc1a675d976191a0.js" type="module"></script><script src="main-es5.b822cc1a675d976191a0.js" nomodule defer></script></body>
</html>
