.example-spacer {
    flex: 1 1 auto;
  }

  .icon-action
  {
    margin: 0px 3px;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .boton_especial
  {
    padding: 10px;
  }

  
