<!--<h1 mat-dialog-title style="color: royalblue;">AVISOS</h1>-->
<div mat-dialog-content>
    <div layout=”row”>
        <div flex>
            <mat-icon style="font-size: 80pt; color:teal;padding: 0pt 380pt;">alarm_on</mat-icon>
            <br>
            <b>Departamento de Recursos humanos:</b><br><br>
            Por requerimientos del instituto de salud es necesario subir el expediente laboral personal, los documentos solicitados son <b>(se debe de subir en este orden y en un único archivo)</b>:
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px">
                <div fxFlex="50" fxFlex.xs="100">
                    <ul>
                        <li>Solicitud de empleo con fotografía</li>
                        <li>Fotografía tamaño infantil b/n a color en papel mate, no instantánea (1)</li>
                        <li>Curriculum vitae debidamente firmado</li>
                        <li>constancia de no inhabilitación (la que cuente)</li>
                        <li>constancia de no antecedentes penales (la que cuente)</li>
                        <li>Certificado médico actualizado (no expedida por cruz roja, issste, particulares e imss)</li>
                        <li>Protesta</li>
                    </ul>
                </div>
                <div fxFlex="50" fxFlex.xs="100">
                    <ul>
                        <li>Acta de nacimiento actualizada, vigencia mínima 2018</li>
                        <li>Constancia de situación fiscal actualizada (RFC)</li>
                        <li>Pre y liberación de la cartilla militar</li>
                        <li>Ultimo grado de estudios</li>
                        <li>Comprobante de domicilio (2 meses)</li>
                        <li>CURP actualizada</li>
                        <li>Credencial de elector actualizada</li>
                        <li>Cuenta y clave interbancaria (banorte y/o bancomer)</li>
                    </ul>
                </div>
            </div>
            <b>Nota:</b> El tamaño máximo del archivo (archivo único) es de <b style="color:red;">6 mb</b>.<br><br>  
            Para subir tu expediente debes dar clic sobre el botón <img src="assets/btn-expediente.jpg"> dentro del sistema.<br>
            Solamente podrás subir tu archivo una sola vez por lo que deberá procurar sea correcto.
            <br><br>
            Fecha límite: <b>Lunes 8 de Noviembre del 2021</b><br>
            Pasando esta fecha si no has ingresado tu expediente, el apartado de revisión de asistencia será bloqueado, hasta que se cumpla con este requerimiento. 

        </div>
    </div>        
    
</div>
