<section class="profile">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="none" fxFlex.xs="30">
                        <div class="example-button-container">
                            <button mat-flat-button color="primary" style="text-align: center; min-height: 100px;" (click)="ImportarDB()"><mat-icon>play_for_work</mat-icon><br>IMPORTAR BASE DE DATOS</button>
                        </div>
                    </div>
                    <div fxFlex="none" fxFlex.xs="30">
                        <div class="example-button-container">
                            <button mat-flat-button color="primary" style="text-align: center; min-height: 100px;" (click)="ImportarDB()"><mat-icon>delete</mat-icon><br>IMPORTAR BASE DE DATOS</button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </section>
    </div>
</section>