<section  fxFlex="100" fxFlex.xs="100" [formGroup]="EstudiosForm">
    <mat-card>
        <mat-card-title>ESTUDIOS PROFESIONALES</mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                <mat-form-field fxFlex="100" fxFlex.xs="100">
                    <mat-label>Grado academico </mat-label>
                    <mat-select formControlName="grado_academico_id" (selectionChange) = "obtener_texto($event)" required>
                        <mat-option *ngFor="let item of catalogos" [value]="item.id">
                            {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="EstudiosForm.get('grado_academico_id').invalid && (EstudiosForm.get('grado_academico_id').dirty || EstudiosForm.get('grado_academico_id').touched)">
                        <span *ngIf="EstudiosForm.get('grado_academico_id').errors.required">Campo obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                <mat-form-field fxFlex="45" fxFlex.xs="100">
                    <mat-label>Nombre del titulo o diploma</mat-label>
                    <input matInput placeholder="Titulo o Diploma" [matAutocomplete]="tituloAutocomplete" formControlName='titulo'   required>
                   <mat-autocomplete #tituloAutocomplete="matAutocomplete" [displayWith]="displayTituloFn" [panelWidth]="'auto'">
                        <mat-option *ngIf="tituloIsLoading" class="is-loading"><mat-spinner diameter="25"></mat-spinner></mat-option>
                        <ng-container *ngIf="!tituloIsLoading">
                            <mat-option *ngFor="let item of filteredTitulo" [value]="item">
                                 {{ item.descripcion }}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                    <input type="hidden" formControlName='titulo_diploma_id'>
                </mat-form-field>
                <div fxFlex="10" fxFlex.xs="100">
                    <br>
                    <mat-checkbox  formControlName="otro_titulo" #otro_titulo (click)="activar_otro_titulo(otro_titulo.checked)">Otro</mat-checkbox>
                </div> 
                <mat-form-field fxFlex="45" fxFlex.xs="100">
                    <input matInput formControlName="otro_nombre_titulo" placeholder="Otro" required>
                    <mat-error *ngIf="EstudiosForm.get('otro_nombre_titulo').invalid && (EstudiosForm.get('otro_nombre_titulo').dirty || EstudiosForm.get('otro_nombre_titulo').touched)">
                        <span *ngIf="EstudiosForm.get('otro_nombre_titulo').errors.required">Campo obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                <mat-form-field fxFlex="45" fxFlex.xs="100">
                    <mat-label>Institución educativa</mat-label>
                    <input matInput placeholder="Institución educativa" [matAutocomplete]="institucionAutocomplete" formControlName='institucion'   required>
                    <mat-autocomplete #institucionAutocomplete="matAutocomplete" [displayWith]="displayInstitucionFn" [panelWidth]="'auto'">
                        <mat-option *ngIf="institucionIsLoading" class="is-loading"><mat-spinner diameter="25"></mat-spinner></mat-option>
                        <ng-container *ngIf="!institucionIsLoading">
                            <mat-option *ngFor="let item of filteredInstitucion" [value]="item">
                                {{ item.descripcion }}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                    <input type="hidden" formControlName='institucion_id'>
                    <mat-error *ngIf="EstudiosForm.get('institucion_id').invalid && (EstudiosForm.get('institucion_id').dirty || EstudiosForm.get('institucion_id').touched)">
                        <span *ngIf="EstudiosForm.get('institucion_id').errors.required">Campo obligatorio</span>
                    </mat-error>
                </mat-form-field>
                <div fxFlex="10" fxFlex.xs="100">
                    <br>
                    <mat-checkbox  formControlName="otro_institucion" #otro_institucion (click)="activar_otro_institucion(otro_institucion.checked)">Otro</mat-checkbox>
                </div> 
                <mat-form-field fxFlex="45" fxFlex.xs="100">
                    <input matInput formControlName="otro_nombre_institucion" placeholder="Otro" required>
                    <mat-error *ngIf="EstudiosForm.get('otro_nombre_institucion').invalid && (EstudiosForm.get('otro_nombre_institucion').dirty || EstudiosForm.get('otro_nombre_institucion').touched)">
                        <span *ngIf="EstudiosForm.get('otro_nombre_institucion').errors.required">Campo obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                <mat-form-field fxFlex="50" fxFlex.xs="100">
                    <mat-label>¿Tiene cédula profesional?</mat-label>
                    <mat-select formControlName="cedula_profesional" #cedula  (selectionChange) = "tiene_cedula(cedula.value)" required>
                        <mat-option [value]="0">NO</mat-option>
                        <mat-option [value]="1">SI</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50" fxFlex.xs="100">
                    <mat-label>No. de Cédula</mat-label>
                    <input matInput placeholder="No. de Cedula"  formControlName='no_cedula'   required>
                    <mat-error *ngIf="EstudiosForm.get('no_cedula').invalid && (EstudiosForm.get('no_cedula').dirty || EstudiosForm.get('no_cedula').touched)">
                        <span *ngIf="EstudiosForm.get('no_cedula').errors.required">Campo obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>        
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!EstudiosForm.valid" (click)="guardar()">Agregar</button>
        </mat-card-actions>
    </mat-card>
</section>        
