<div  fxFlex="100" fxFlex.xs="100" >
    <mat-toolbar>
        <span>COMISIÓN GERENCIAL</span>
       <span class="example-spacer"></span>
      
       <button  mat-stroked-button color="warn" class="icon-action" (click)="cerrar()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="GUARDAR()" [disabled]="!formularioForm.valid || isLoading">
        <mat-icon>save</mat-icon> GUARDAR
      </button> 
     
     </mat-toolbar>
<!--<h3 style="color: grey;">COMISIÓN GERENCIAL</h3>-->
    <mat-divider></mat-divider>
    <div [formGroup]="formularioForm">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person_pin</mat-icon>
            <div class="mobile-pc"> Datos Personales</div>
        </ng-template>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px">
            <div fxFlex="100" fxFlex.xs="100">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex="40" fxFlex.xs="100" appearance="fill">
                        <mat-label>Trabajador</mat-label>
                        <input matInput placeholder="Trabajador" formControlName='trabajador' (keyup.escape)="buscarTrabajador()" (keyup.enter)="buscarTrabajador()" autocomplete="off">
                    </mat-form-field>
                    <div fxFlex="10" fxFlex.xs="100" appearance="fill">
                        <button mat-raised-button color="accent" style="padding: 13px; margin: 15px 0px;" (click)="buscarTrabajador()" [disabled]="buscador">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                    <mat-form-field fxFlex="50" fxFlex.xs="100" appearance="fill">
                        <mat-label>TRABAJADORES</mat-label>
                        <mat-select formControlName="trabajador_id" required >
                            <mat-option *ngFor="let item of arreglo_trabajador" [value]="item.id">
                                {{item.nombre}} {{item.apellido_paterno}} {{item.apellido_materno}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formularioForm.get('trabajador_id').invalid && (formularioForm.get('trabajador_id').dirty || formularioForm.get('trabajador_id').touched)">
                            <span *ngIf="formularioForm.get('trabajador_id').errors.required">Campo obligatorio</span>
                        </mat-error>

                    </mat-form-field>
                </div>
            </div>

        </div>
        <!--<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px">
            <div fxFlex="100" fxFlex.xs="100">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <div fxFlex="100" fxFlex.xs="100" appearance="fill">
                        <b>{{ clues_nominal }}</b><br>
                        <label>{{ cr_nominal }}</label><br>
                    </div>
                </div>
            </div>

        </div>-->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" >
            <div fxFlex="100" fxFlex.xs="100">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex="100" fxFlex.xs="50" appearance="fill">
                        <mat-label>DESTINO</mat-label>
                        <input matInput placeholder="DESTINO" formControlName='destino' autocomplete="off">
                        
                        <mat-error *ngIf="formularioForm.get('destino').invalid && (formularioForm.get('destino').dirty || formularioForm.get('destino').touched)">
                            <span *ngIf="formularioForm.get('destino').errors.required">Campo obligatorio</span>
                        </mat-error>

                    </mat-form-field>
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex="40" fxFlex.xs="100" appearance="fill">
                        <mat-label>PRESENTARSE CON</mat-label>
                        <mat-select formControlName="presentarse_id" required>
                            <mat-option *ngFor="let item of arreglo_presentarse" [value]="item.id">
                                {{item.nombre}} {{item.apellido_paterno}} {{item.apellido_materno}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formularioForm.get('presentarse_id').invalid && (formularioForm.get('presentarse_id').dirty || formularioForm.get('presentarse_id').touched)">
                            <span *ngIf="formularioForm.get('presentarse_id').errors.required">Campo obligatorio</span>
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="fill">
                        <input matInput [matDatepicker]="fecha_oficio_picker" autocomplete="off" (click)="fecha_oficio_picker.open()" formControlName="fecha_oficio" placeholder="Fecha Oficio">
                        <mat-datepicker-toggle matPrefix [for]="fecha_oficio_picker"></mat-datepicker-toggle>
                        <mat-datepicker #fecha_oficio_picker [disabled]="false"></mat-datepicker>
                        <mat-error *ngIf="formularioForm.get('fecha_oficio').invalid && (formularioForm.get('fecha_oficio').dirty || formularioForm.get('fecha_oficio').touched)">
                            <span *ngIf="formularioForm.get('fecha_oficio').errors.required">Campo obligatorio</span>
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="fill">
                        <input matInput [matDatepicker]="fecha_inicio_picker" autocomplete="off" (click)="fecha_inicio_picker.open()" formControlName="fecha_inicio_periodo" placeholder="Fecha Inicio Cambio">
                        <mat-datepicker-toggle matPrefix [for]="fecha_inicio_picker"></mat-datepicker-toggle>
                        <mat-datepicker #fecha_inicio_picker [disabled]="false"></mat-datepicker>
                        <mat-error *ngIf="formularioForm.get('fecha_inicio_periodo').invalid && (formularioForm.get('fecha_inicio_periodo').dirty || formularioForm.get('fecha_inicio_periodo').touched)">
                            <span *ngIf="formularioForm.get('fecha_inicio_periodo').errors.required">Campo obligatorio</span>
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="fill">
                        <input matInput [matDatepicker]="fecha_fin_picker" autocomplete="off" (click)="fecha_fin_picker.open()" formControlName="fecha_fin_periodo" placeholder="Fecha Fin Cambio">
                        <mat-datepicker-toggle matPrefix [for]="fecha_fin_picker"></mat-datepicker-toggle>
                        <mat-datepicker #fecha_fin_picker [disabled]="false"></mat-datepicker>
                        <mat-error *ngIf="formularioForm.get('fecha_fin_periodo').invalid && (formularioForm.get('fecha_fin_periodo').dirty || formularioForm.get('fecha_fin_periodo').touched)">
                            <span *ngIf="formularioForm.get('fecha_fin_periodo').errors.required">Campo obligatorio</span>
                        </mat-error>

                    </mat-form-field>
                    <!--<mat-form-field fxFlex="25" fxFlex.xs="100" appearance="fill">
                        <mat-label>REINGENIERIA</mat-label>
                        <mat-select formControlName="reingenieria" required>
                            <mat-option [value]="1">SI</mat-option>
                            <mat-option [value]="2">NO</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formularioForm.get('reingenieria').invalid && (formularioForm.get('reingenieria').dirty || formularioForm.get('reingenieria').touched)">
                            <span *ngIf="formularioForm.get('reingenieria').errors.required">Campo obligatorio</span>
                        </mat-error>

                    </mat-form-field>--->
                </div>
            </div>

        </div>
        <!--<mat-divider></mat-divider>
        <br>
        <button mat-flat-button color="primary" (click)="GUARDAR()" [disabled]="!formularioForm.valid || isLoading">GUARDAR</button>
        <button mat-flat-button (click)="cerrar()">CERRAR</button>-->
    </div>
</div>    