.container {
    width: 100%;
    height: 100%;
}

.element {
    margin-top: 20%;
    font-size: 60pt;
    color: grey;
    /*padding: 100px;*/
    text-align: center;
    line-height: 50px;
}

@media screen and (max-width: 500px) {
    .element {
        font-size: 40pt;
    }
  }