<section class="profile">
    <section fxLayout="row" fxLayoutAlign="space-evenly start" style="padding-top:15px;">
        <section fxFlex="95" fxLayout="column">
            
            
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="10" fxFlex.xs="100">
                    <img src="assets/logos/secretaria.png" width="100%">
                </div>  
                <div fxFlex="80" fxFlex.xs="100">
                    
                </div>       
                <div fxFlex="10" fxFlex.xs="100">
                    <img src="assets/logos/cenaprece.png" width="100%">
                </div>
            </div>    
                   
            <mat-card-content>
                <mat-card-title>CAPACITACIÓN EN EL MANEJO CLÍNICO DE DENGUE EN EL ESTADO DE CHIAPAS <button mat-raised-button style="float: right;" color="primary" (click)="ver_instrucciones()"><mat-icon>article</mat-icon> INSTRUCCIONES</button></mat-card-title>
            </mat-card-content>    
            <mat-card fxFlex *ngIf="panel_registro">
                <mat-card-content>
                    <mat-card-title>Ingresar por RFC</mat-card-title>
                    <mat-card-subtitle>Personas previamente registradas</mat-card-subtitle>
                    <div class="edit-container">
                        <section  [formGroup]="verificarForm">
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="25" fxFlex.xs="100">
                                    <input matInput formControlName="rfc" placeholder="RFC"  type="text"  minlength="13" autocomplete="false">
                                    <mat-error *ngIf="verificarForm.get('rfc').invalid && (verificarForm.get('rfc').dirty || verificarForm.get('rfc').touched)">
                                        <span *ngIf="verificarForm.get('rfc').errors.required">El RFC es obligatorio</span>
                                        <span *ngIf="verificarForm.get('rfc').errors.minlength">longitud de RFC incorrecto</span>
                                    </mat-error>
                                </mat-form-field>
                                <div  fxFlex="15" fxFlex.xs="100">
                                    <button mat-raised-button (click)="accionVerificarAvance()" [disabled]="!verificarForm.valid" color="success"><mat-icon>search</mat-icon> Verificar</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </mat-card-content>                
                <mat-card-content>
                    <mat-card-title>Registro de Participante</mat-card-title>
                    <mat-card-subtitle>Primera vez.</mat-card-subtitle>
                    <div class="edit-container">
                        <section  [formGroup]="participanteForm">
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="15" fxFlex.xs="100">
                                    <input matInput formControlName="curp" placeholder="Curp" type="text" minlength="13" autocomplete="false">
                                    <mat-error *ngIf="participanteForm.get('curp').invalid && (participanteForm.get('curp').dirty || participanteForm.get('curp').touched)">
                                        <span *ngIf="participanteForm.get('curp').errors.required">El Curp es obligatorio</span>
                                        <span *ngIf="participanteForm.get('curp').errors.minlength">longitud de Curp incorrecto</span>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="15" fxFlex.xs="100">
                                    <input matInput formControlName="rfc" placeholder="RFC"  type="text" minlength="13" autocomplete="false">
                                    <mat-error *ngIf="participanteForm.get('rfc').invalid && (participanteForm.get('rfc').dirty || participanteForm.get('rfc').touched)">
                                        <span *ngIf="participanteForm.get('rfc').errors.required">El RFC es obligatorio</span>
                                        <span *ngIf="participanteForm.get('rfc').errors.minlength">longitud de RFC incorrecto</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="30" fxFlex.xs="100">
                                    <input matInput formControlName="nombre" placeholder="nombre"  type="text" autocomplete="false">
                                    <mat-error *ngIf="participanteForm.get('nombre').invalid && (participanteForm.get('nombre').dirty || participanteForm.get('nombre').touched)">
                                        <span *ngIf="participanteForm.get('nombre').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="15" fxFlex.xs="100">
                                    <input matInput formControlName="celular" placeholder="celular"  minlength="10" type="text" autocomplete="false">
                                    <mat-error *ngIf="participanteForm.get('celular').invalid && (participanteForm.get('celular').dirty || participanteForm.get('celular').touched)">
                                        <span *ngIf="participanteForm.get('celular').errors.required">El Nombre es obligatorio</span>
                                        <span *ngIf="participanteForm.get('celular').errors.minlength">longitud de Celular incorrecto</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="25" fxFlex.xs="100">
                                    <input matInput formControlName="correo" placeholder="correo"  type="email" autocomplete="false">
                                    <mat-error *ngIf="participanteForm.get('correo').invalid && (participanteForm.get('correo').dirty || participanteForm.get('correo').touched)">
                                        <span *ngIf="participanteForm.get('correo').errors.required">El Nombre es obligatorio</span>
                                        <span *ngIf="participanteForm.get('correo').errors.email">Formato de Correo invalido</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="20" fxFlex.xs="100">
                                    <mat-label>Distrito</mat-label>
                                    <mat-select formControlName="distrito">
                                      
                                      <mat-option *ngFor="let distrito of distritos" [value]="distrito.id">{{ distrito.nombre }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex="40" fxFlex.xs="100">
                                    <input matInput formControlName="unidad_medica" placeholder="Unidad Médica"  type="text" autocomplete="false">
                                    <mat-error *ngIf="participanteForm.get('unidad_medica').invalid && (participanteForm.get('unidad_medica').dirty || participanteForm.get('unidad_medica').touched)">
                                        <span *ngIf="participanteForm.get('unidad_medica').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="20" fxFlex.xs="100">
                                    <mat-label>Sector Salud</mat-label>
                                    <mat-select formControlName="sector">
                                      
                                      <mat-option *ngFor="let sector of sectores" [value]="sector.id">{{ sector.nombre }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex="20" fxFlex.xs="100">
                                    <mat-label>Perfil Profesional</mat-label>
                                    <mat-select formControlName="perfil">
                                      
                                      <mat-option *ngFor="let perfil of perfiles" [value]="perfil.id">{{ perfil.nombre }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </section>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    
                    <span fxFlex></span>
                         
                    
                    <ng-container>
                        <button mat-raised-button (click)="accionGuardarParticipante()" color="success" [disabled]="!participanteForm.valid"><mat-icon>arrow_right_alt</mat-icon> Registrar</button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>

            <mat-card fxFlex  *ngIf="panel_videos">
                <!--<mat-card-title>Videos</mat-card-title>-->
                <mat-card-content>
                    <div class="edit-container">
                        <div fxLayout="row" fxLayout.xs="column">                        
                            <div fxFlex="50" fxFlex.xs="100">
                                <mat-card>
                                    <mat-card-title>Video 1 Historia del Dengue en Chiapas</mat-card-title>
                                    <mat-card-subtitle>
                                        Ponente: Dra. Claudia Patricia Nolasco Gómez<br>
                                        Subdirectora de Epidemiologia</mat-card-subtitle>
                                    <mat-card-content>
                                        <video width="100%"  #primer_video >
                                            <source src="http://sistemas.saludchiapas.gob.mx/c-ges/videos/1.mp4" type="video/mp4">
                                            Su navegador no soporta la carga del video..
                                        </video>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="play_video1()" color="primary"><mat-icon>play_circle_filled</mat-icon></button>
                                        <button mat-raised-button (click)="pause_video1()" color="primary"><mat-icon>pause</mat-icon></button>
                                        <button mat-raised-button  [disabled]="video_visto1 != 1" color="success"><mat-icon>check</mat-icon></button>
                                        <b>Duración: 23:19</b> <b> Transcurrido: <span style="color: red;">{{ porcentaje_video1 }} %</span></b>
                                    </mat-card-actions>
                                    <mat-card-footer *ngIf="video_visto1 == 1"><span style="margin-left: 10px;"><a href="https://www.gob.mx/salud/documentos/panorama-epidemiologico-de-dengue-2020" target="_blank" style="color: red;">Ir a: Panorama Epidemiológico de Dengue</a></span></mat-card-footer>
                                </mat-card>    
                            </div>
                            
                            
                            <div fxFlex="50" fxFlex.xs="100">
                                <mat-card>
                                    <mat-card-title>Video 2 Fisiopatología, cuadro clínico y diagnósticos diferenciales.</mat-card-title>
                                    <mat-card-subtitle>Ponente: Dra. Sandra Luz Beltrán Silva<br>
                                    Infectologa Pediatra</mat-card-subtitle>
                                    <mat-card-content>
                                        <video width="100%"  #segundo_video>
                                            <source src="http://sistemas.saludchiapas.gob.mx/c-ges/videos/2.mp4" type="video/mp4">
                                            Su navegador no soporta la carga del video..
                                        </video>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="play_video2()" color="primary"><mat-icon>play_circle_filled</mat-icon></button>
                                        <button mat-raised-button (click)="pause_video2()" color="primary"><mat-icon>pause</mat-icon></button>
                                        <button mat-raised-button  [disabled]="video_visto2 != 1" color="success"><mat-icon>check</mat-icon></button>
                                        <b>Duración: 01:44:19</b> <b> Transcurrido: <span style="color: red;">{{ porcentaje_video2 }} %</span></b>
                                    </mat-card-actions>
                                </mat-card>    
                                
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">    
                            <div fxFlex="50" fxFlex.xs="100">
                                <mat-card>
                                    <mat-card-title>Video 3  Dengue en recién nacidos y lactantes y tratamiento de grupos A y B.</mat-card-title>
                                    <mat-card-subtitle>Ponente: Dra. Viridiana Ofelia Gutiérrez Pastrana<br>
                                    Pediatra con diplomado en urgencias pediátricas, instructora de reanimación neonatal y pediátrica.</mat-card-subtitle>
                                    
                                    <mat-card-content>
                                        <video width="100%"  #tercer_video>
                                            <source src="http://sistemas.saludchiapas.gob.mx/c-ges/videos/3.mp4" type="video/mp4">
                                            Su navegador no soporta la carga del video..
                                        </video>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="play_video3()" color="primary"><mat-icon>play_circle_filled</mat-icon></button>
                                        <button mat-raised-button (click)="pause_video3()" color="primary"><mat-icon>pause</mat-icon></button>
                                        <button mat-raised-button  [disabled]="video_visto3 != 1" color="success"><mat-icon>check</mat-icon></button>
                                        <b>Duración: 01:34:49</b> <b> Transcurrido: <span style="color: red;">{{ porcentaje_video3 }} %</span></b>
                                    </mat-card-actions>
                                </mat-card>    
                                
                            </div>
                            <div fxFlex="50" fxFlex.xs="100">
                                <mat-card>
                                    <mat-card-title>Video 4 Dengue Grave</mat-card-title>
                                    <mat-card-subtitle>Ponente: Dr. Edgar Guadarrama Granados<br>
                                        Intensivista Pediatra</mat-card-subtitle>
                                    <mat-card-content>
                                        <video width="100%"  #cuarto_video>
                                            <source src="http://sistemas.saludchiapas.gob.mx/c-ges/videos/4.mp4" type="video/mp4">
                                            Su navegador no soporta la carga del video..
                                        </video>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="play_video4()" color="primary"><mat-icon>play_circle_filled</mat-icon></button>
                                        <button mat-raised-button (click)="pause_video4()" color="primary"><mat-icon>pause</mat-icon></button>
                                        <button mat-raised-button  [disabled]="video_visto4 != 1" color="success"><mat-icon>check</mat-icon></button>
                                        <b>Duración: 28:50</b> <b> Transcurrido: <span style="color: red;">{{ porcentaje_video4 }} %</span></b>
                                    </mat-card-actions>
                                </mat-card>    
                                
                            </div>
                        </div>   
                        <div fxLayout="row" fxLayout.xs="column">    
                            <div fxFlex="50" fxFlex.xs="100">
                                <mat-card>
                                    <mat-card-title>Video 5 Dengue en adultos, comorbilidades y embarazo. </mat-card-title>
                                    <mat-card-subtitle>Ponente:  Dr. Alexei Humberto Morales Morales<br>
                                        Médico internista con subespecialidad en medicina crítica</mat-card-subtitle>
                                    <mat-card-content>
                                        <video width="100%"  #quinto_video>
                                            <source src="http://sistemas.saludchiapas.gob.mx/c-ges/videos/5.mp4" type="video/mp4">
                                            Su navegador no soporta la carga del video..
                                        </video>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="play_video5()" color="primary"><mat-icon>play_circle_filled</mat-icon></button>
                                        <button mat-raised-button (click)="pause_video5()" color="primary"><mat-icon>pause</mat-icon></button>
                                        <button mat-raised-button  [disabled]="video_visto5 != 1" color="success"><mat-icon>check</mat-icon></button>
                                        <b>Duración: 01:38:49</b> <b> Transcurrido: <span style="color: red;">{{ porcentaje_video5 }} %</span></b>
                                    </mat-card-actions>
                                </mat-card>    
                                
                            </div>
                            <div fxFlex="50" fxFlex.xs="100">
                                <mat-card>
                                    <mat-card-title>Video 6 Administración en salud y plan de contingencia.</mat-card-title>
                                    <mat-card-subtitle>Ponente: Dra. Lucía Emilia Córdova Rojas<br>
                                        Pediatra</mat-card-subtitle>
                                    <mat-card-content>
                                        <video width="100%"  #sexto_video>
                                            <source src="http://sistemas.saludchiapas.gob.mx/c-ges/videos/6.mp4" type="video/mp4">
                                            Su navegador no soporta la carga del video..
                                        </video>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="play_video6()" color="primary"><mat-icon>play_circle_filled</mat-icon></button>
                                        <button mat-raised-button (click)="pause_video6()" color="primary"><mat-icon>pause</mat-icon></button>
                                        <button mat-raised-button  [disabled]="video_visto6 != 1" color="success"><mat-icon>check</mat-icon></button>
                                        <b>Duración: 43:13</b> <b> Transcurrido: <span style="color: red;">{{ porcentaje_video6 }} %</span></b>
                                    </mat-card-actions>
                                </mat-card>    
                                
                            </div>
                        </div>   
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    
                    <span fxFlex></span>
                    
                    <ng-container>
                        <button mat-raised-button (click)="accionVerCuestionario()" [disabled]="video_visto1 == 0 || video_visto2 == 0 || video_visto3 == 0 || video_visto4 == 0 || video_visto5 == 0 || video_visto6 == 0" color="success"><mat-icon>arrow_right_alt</mat-icon> ir al Cuestionario</button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>


            <mat-card fxFlex *ngIf="panel_cuestionario">
                <mat-card-title>CUESTIONARIO</mat-card-title>
                <mat-card-content>
                    <div class="edit-container">
                        <section  [formGroup]="cuestionarioForm">
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin:15px 0px;">1.- ¿CUÁNTOS TIPOS DE DENGUE VIRUS EXISTEN?</div>
                                    <mat-select formControlName="pregunta1">
                                        <mat-option [value]="1">A.	DEN 0, DEN 1, DEN 2, DEN 3</mat-option>
                                        <mat-option [value]="2">B.	DEN 1, DEN 2, DEN 3, DEN 5</mat-option>
                                        <mat-option [value]="3">C.	DEN 1, DEN 2, DEN 3, DEN 4</mat-option>
                                        <mat-option [value]="4">D.	DEN A, DEN B, DEN C, DEN D</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta1').invalid && (cuestionarioForm.get('pregunta1').dirty || cuestionarioForm.get('pregunta1').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta1').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin:15px 0px;">2.- ¿CUáNTAS FASES DE DENGUE EXISTEN, MENCIÓNELAS?</div>
                                    <mat-select formControlName="pregunta2">
                                        <mat-option [value]="1">A.	FASE DE CONTAGIO, FASE FEBRIL, FASE HEMORRÁGICA</mat-option>
                                        <mat-option [value]="2">B.	FASE DE CONTAGIO, FASE FEBRIL, FASE DE GRAVEDAD</mat-option>
                                        <mat-option [value]="3">C.	FASE FEBRIL, FASE CRÍTICA, FASE DE GRAVEDAD</mat-option>
                                        <mat-option [value]="4">D.	FASE FEBRIL, FASE CRÍTICA, FASE DE CONVALESCENCIA</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta2').invalid && (cuestionarioForm.get('pregunta2').dirty || cuestionarioForm.get('pregunta2').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta2').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin:15px 0px;">3.- ¿CÚAL ES LA CLASIFICACIÓN ACTUAL DEL DENGUE?</div>
                                    <mat-select formControlName="pregunta3">
                                        <mat-option [value]="1">A. DENGUE CLÁSICO, DENGUE HEMORRÁGICO</mat-option>
                                        <mat-option [value]="2">B. DENGUE CLÁSICO, DENGUE HEMORRÁGICO, CHOQUE POR DENGUE</mat-option>
                                        <mat-option [value]="3">C. DENGUE NO GRAVE SIN SIGNOS DE ALARMA, DENGUE CON SIGNOS DE ALARMA Y DENGUE GRAVE</mat-option>
                                        <mat-option [value]="4">D. DENGUE GRAVE SIN SIGNOS DE ALARMA, DENGUE CON SIGNOS DE ALARMA Y DENGUE GRAVE.</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta3').invalid && (cuestionarioForm.get('pregunta3').dirty || cuestionarioForm.get('pregunta3').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta3').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin:15px 0px;">4.- ¿CUÁLES SON LOS SIGNOS DE ALARMA?</div>
                                    <mat-select formControlName="pregunta4">
                                        <mat-option [value]="1">A.	VOMITOS, DIARREA, EPISTAXIS, FALLA ORGÁNICA, HEMOCONCETRACIÓN</mat-option>
                                        <mat-option [value]="2">B.	VOMITOS, DOLOR ABDOMINAL, HEMATEMESIS, ASCITIS, HEMOCONCENTRACIÓN</mat-option>
                                        <mat-option [value]="3">C.	DOLOR ABDOMINAL, VOMITOS INCOERCIBLES, EPISTAXIS, GINGIVORRAGIA</mat-option>
                                        <mat-option [value]="4">D.	DOLOR ABDOMINAL, VOMITOS INCOERCIBLES, HEMOCONCENTRACIÓN, DIFICULTAD RESPIRATORIA.</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta4').invalid && (cuestionarioForm.get('pregunta4').dirty || cuestionarioForm.get('pregunta4').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta4').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin:15px 0px;">5.- SE DEFINE COMO DENGUE GRAVE ALGUNO DE LOS ESCENARIOS SIGUIENTES</div>
                                    <mat-select formControlName="pregunta5">
                                        <mat-option [value]="1">A.	FUGA CAPILAR SIN DIFICULTAD RESPIRATORIA</mat-option>
                                        <mat-option [value]="2">B.	HEMATEMESIS SIN FIEBRE</mat-option>
                                        <mat-option [value]="3">C.	FUGA CAPILAR CON DIFICULTAD RESPIRATORIA Y DATOS DE CHOQUE</mat-option>
                                        <mat-option [value]="4">D.	FALLA ORGÁNICA MULTIPLE SIN ANTECEDENTES DE FIEBRE</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta5').invalid && (cuestionarioForm.get('pregunta5').dirty || cuestionarioForm.get('pregunta5').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta5').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin:15px 0px;">6.- MENCIONE ¿CUÁLES SON DATOS DE PERFUSIÓN QUE DEBEMOS EVALUAR EN EL ESTADO HEMODINÁMICO?</div>
                                    <mat-select formControlName="pregunta6">
                                        <mat-option [value]="1">A.	LLENADO CAPILAR, SANGRADOS MASIVOS, FALLAS ORGÁNICAS MULTIPLES</mat-option>
                                        <mat-option [value]="2">B.	PULSOS, LLENADO CAPILAR, ESTADO NEUROLÓGICO, URESIS</mat-option>
                                        <mat-option [value]="3">C.	TENSIÓN ARTERIAL, SANGRADOS MASIVOS, ELECTROCARDIOGRAMA</mat-option>
                                        <mat-option [value]="4">D.	ESTADO NEUROLÓGICO, FALLA ORGÁNICA, SANGRADOS MASIVOS.</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta6').invalid && (cuestionarioForm.get('pregunta6').dirty || cuestionarioForm.get('pregunta6').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta6').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin:15px 0px;">7.- VALORA PACIENTE PEDIÁTRICO DE 5 AÑOS DE EDAD CON CUADRO DE 6 DÍAS DE EVOLUCIÓN TRAIDO POR LOS PADRES POR VOMITO EN 3 OCASIONES DE CONTENIDO GÁSTRICO, A LA EXPLORACIÓN LUCE IRRITABLE, NO SE CONSUELA, OJOS HUNDIDOS, BOCA SECA, LLANTO SIN LAGRIMAS, A LA PALPACIÓN DE ABDOMEN DOLOR INTENSO, ¿CUÁL ES SU DECISIÓN PARA DEJARLO HOSPITALIZADO?.</div>
                                    <mat-select formControlName="pregunta7">
                                        <mat-option [value]="1">A.	INGRESO, TOMA DE BH, VIDA SUERO ORAL A LIBRE DEMANDA</mat-option>
                                        <mat-option [value]="2">B.	INGRESO, TOMA DE BH VIDA SUERO ORAL 150ML DESPUES DE CADA VOMITO</mat-option>
                                        <mat-option [value]="3">C.	INGRESO, TOMA DE BH, VIDA SUERO ORAL DE 100 ML PARA 4 HORAS</mat-option>
                                        <mat-option [value]="4">D.	INGRESO, TOMA DE BH, CARGA DE HARTMAN A 20 ML KG PARA 2 HORAS</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta7').invalid && (cuestionarioForm.get('pregunta7').dirty || cuestionarioForm.get('pregunta7').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta7').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin:15px 0px;">8.- AL INTERROGATORIO DIRIGIDO USTED IDENTIFICA QUE PRESENTO FIEBRE DE 3 DÍAS  DE HASTA 40 GRADOS ACOMPAÑADO DE DIARREA, TRATADO CON PARACETAMOL Y TRIMETROPRIM SIN MEJORÍA, ¿CUÁL SERÍA SU SOSPECHA DIAGNOSTICA PRINCIPAL?</div>
                                    <mat-select formControlName="pregunta8">
                                        <mat-option [value]="1">A.	DIARREA AGUDA CON DESHIDRATACIÓN</mat-option>
                                        <mat-option [value]="2">B.	INFLUENZA</mat-option>
                                        <mat-option [value]="3">C.	CORIZA</mat-option>
                                        <mat-option [value]="4">D.	DENGUE</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta8').invalid && (cuestionarioForm.get('pregunta8').dirty || cuestionarioForm.get('pregunta8').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta8').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin: 15px 0px;">9.- EN BASE A SU DIAGNOSTICO DE SOSPECHA ¿QUE TRATAMIENTO INICIARÍA?</div>
                                    <mat-select formControlName="pregunta9">
                                        <mat-option [value]="1">A.	PLAN B DE HIDRATACIÓN ORAL Y SOLICITO PERFIL COPROLÓGICO CON BUSQUEDA DE ROTAVIRUS</mat-option>
                                        <mat-option [value]="2">B.	OSELTAMIVIR A 10 MG KG, NEBULIZACONES Y BUSQUEDA DE VIRUS CON ISOPO NASOFARINGEO</mat-option>
                                        <mat-option [value]="3">C.	LÍQUIDOS INTRAVENOSOS CON CRISTALOIDES A 10 ML KG HORA, AJUSTANDO A ESTADO HEMODINÁMICO Y SOLICITAR PCR. </mat-option>
                                        <mat-option [value]="4">D.	LÍQUIDOS INTRAVENOSOS CON CRISTALOIDES A 5ML KG HORA, AJUSTANDO A ESTADO HEMODINÁMICO Y SOLICITAR IFI.</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta9').invalid && (cuestionarioForm.get('pregunta9').dirty || cuestionarioForm.get('pregunta9').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta9').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100" >
                                    <div style="margin: 15px 0px;">10.- EL PACIENTE EVOLUCIONA CON EPISTAXIS Y HEMATEMESIS PROFUSA, REALIZA EVALUACIÓN HEMODINÁMICA PRESENTA LOS SIGUIENTES SIGNOS VITALES, FC: 160 LATIDOS X MIN, FR: 30 X MIN, TA: 100/60, LABORATORIOS: BH: LEUCOS 2300, LINFOS 55%, PLAQUETAS 40 MIL, HGB: 15, HCT: 42% EN BASE A SU DIAGNOSTICO ¿CÚAL ES EL TRATAMIENTO MÁS ADECUADO?</div>
                                    <mat-select formControlName="pregunta10">
                                        <mat-option [value]="1">A.	CARGA DE HARTMAN O SOLUCIÓN SALINA A 20MLK PARA 20 MINUTOS INTRAVENOSA, CEFTRIAXONA Y TRASLADO A TERAPIA</mat-option>
                                        <mat-option [value]="2">B.	HIDRATACIÓN ORAL, TRANFUSIÓN DE PLAQUETAS Y VIGILANCIA ESTRECHA.</mat-option>
                                        <mat-option [value]="3">C.	CARGA DE CRISTALOIDE IV A 20MLKG, MANTENER HEMODINAMIA, TRANSFUSIÓN DE SANGRE Y VIGILAR ESTADO DE COAGULACIÓN, REFERIR.</mat-option>
                                        <mat-option [value]="4">D.	REFERIR A UNIDAD DE 2DO NIVEL O QUE CUENTE CON TERAPIA INTENSIVA.</mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="cuestionarioForm.get('pregunta10').invalid && (cuestionarioForm.get('pregunta10').dirty || cuestionarioForm.get('pregunta10').touched)">
                                        <span *ngIf="cuestionarioForm.get('pregunta10').errors.required">Este campo es obligatorio</span>
                                    </mat-error>
                                    
                                </mat-form-field>
                            </div>
                        </section>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    
                    <span fxFlex></span>
                    
                    <ng-container>
                        <button mat-raised-button (click)="accionGuardarCuestionario()" color="primary"><mat-icon>arrow_right_alt</mat-icon> Siguiente</button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
            <mat-card fxFlex *ngIf="panel_calificacion">
                <mat-card-content>
                    <div class="edit-container">
                        <section  [formGroup]="cuestionarioForm">
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" fxFlex.xs="100" style="text-align: center;">
                                    <div style="font-size: 60pt">CALIFICACIÓN</div>
                                    <div style="font-size: 60pt"><span style="color: red">{{ calificacion_participante }}</span> / 10</div>
                                    <div style="font-size: 60pt" *ngIf="calificacion_participante >= 8">
                                        <button mat-raised-button (click)="accionImprimirConstancia()" color="success"><mat-icon>print</mat-icon> Imprimir Reconocimiento</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </mat-card-content>
            </mat-card>                
        </section>
    </section>
    <!--/div-->
</section>
