<section class="profile">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
            </div>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-hint>
                                <mat-slide-toggle #showAdvancedFilter (change)="toggleAdvancedFilter(showAdvancedFilter.checked)">Filtro Avanzado</mat-slide-toggle>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100" [@buttonInOut]>
                        <div fxFlex></div>
                        <section class="search-button">
                            <button mat-raised-button color="accent" style="margin-left: 5px; padding: 10px; font-size: 14pt;" (click)="applyFilter()" *ngIf="!showAdvancedFilter.checked">
                                <mat-icon>search</mat-icon> Buscar
                            </button>
                            <button mat-raised-button color="primary" style="margin-left: 5px; padding: 10px; font-size: 14pt;" (click)="Agregar()"><mat-icon>add</mat-icon></button> 
                            <button color="primary" mat-stroked-button style="margin-left: 5px; padding: 10px; font-size: 14pt;" [matMenuTriggerFor]="menuLote">
                                <mat-icon>print</mat-icon>
                            </button>
                            <mat-menu #menuLote="matMenu">
                                <button mat-menu-item *ngFor="let pagina of paginas; let i = index" (click)="imprimirOficio(null, i)">LOTE {{ (i + 1) }}</button>
                            </mat-menu>

                            <button mat-raised-button [matMenuTriggerFor]="menu" style="margin-left: 5px; padding: 10px; font-size: 14pt;"><mat-icon>more_horiz</mat-icon></button>
                            <mat-menu #menu="matMenu">
                                <button color="primary" mat-menu-item (click)="Importar()">
                                    <mat-icon>upload</mat-icon> CARGAR
                                </button>
                                <button mat-menu-item (click)="buscar()"><mat-icon>search</mat-icon> BUSCAR</button>
                                <button mat-menu-item (click)="generarExcel()"><mat-icon>insert_drive_file</mat-icon> EXCEL</button>

                            </mat-menu>
                        </section>
                    </div>
                </div>
            </mat-card>

            <div *ngIf="showReportForm || showMyStepper">

                <div class="my-stepper" *ngIf="showMyStepper">
                    <ng-container *ngFor="let step of stepperConfig.steps; let i = index">
                        <div class="my-step" [class.my-step-active]="step.status == 2" [class.my-step-done]="step.status == 3" [class.my-step-error]="step.status == 0">
                            <mat-icon>{{step.icon}}</mat-icon>
                            <div class="my-step-label">
                                {{(step.status
                                < 2)?step.label.standBy:((step.status==2 )?step.label.active:step.label.done)}} <mat-progress-bar *ngIf="step.status == 2" mode="indeterminate">
                                    </mat-progress-bar>
                                    <small *ngIf="step.status == 0" class="my-step-error-message">{{step.errorMessage}}</small>
                            </div>
                            <mat-icon *ngIf="step.status == 3">done</mat-icon>
                            <mat-icon *ngIf="step.status == 0">error</mat-icon>
                        </div>
                        <div *ngIf="(i+1) < stepperConfig.steps.length" class="my-step-separator"></div>
                    </ng-container>
                </div>

            </div>

            <mat-divider [inset]="true"></mat-divider>

            <mat-accordion class="advanced-filter-container">
                <mat-expansion-panel #advancedFilter class="advanced-filter" [formGroup]="filterForm">
                    <br>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                        <mat-form-field fxFlex="50" appearance="fill">
                            <mat-label>DISTRITO</mat-label>
                            <mat-select formControlName="distrito">
                                <mat-option *ngFor="let item of filterCatalogs['distrito']" [value]="item">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" appearance="fill">
                            <mat-label>IMPRIMIBLE</mat-label>
                            <mat-select #ramaFilter formControlName="imprimible" [compareWith]="compareImprimibleSelect">
                                <mat-option *ngFor="let item of filterCatalogs['imprimible']" [value]="item">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--<mat-form-field fxFlex="33">
                            <input matInput [matDatepicker]="fechaPicker" placeholder="Fecha de Cambio" formControlName="fecha_cambio" readonly required>
                            <mat-datepicker-toggle matSuffix [for]="fechaPicker"></mat-datepicker-toggle>
                            <mat-datepicker #fechaPicker disabled="false"></mat-datepicker>
                            <mat-hint align="end">seleccionar fecha
                                <mat-icon>keyboard_arrow_up</mat-icon>&nbsp;</mat-hint>
                        </mat-form-field>-->

                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                        <mat-form-field fxFlex="25" appearance="fill">
                            <mat-label>CLUES</mat-label>
                            <input type="text" aria-label="clues" matInput formControlName="clues" [matAutocomplete]="cluesAutocomplete">
                            <mat-autocomplete #cluesAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('clues')" [panelWidth]="'auto'">
                                <mat-option *ngFor="let item of filteredCatalogs['clues'] | async" [value]="item">
                                    [{{item.clues}}] {{item.nombre_unidad}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="filterForm.get('clues').value">{{filterForm.get('clues').value.nombre_unidad}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" appearance="fill">
                            <mat-label>CR</mat-label>
                            <input type="text" aria-label="cr" matInput formControlName="cr" [matAutocomplete]="crAutocomplete">
                            <mat-autocomplete #crAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('cr')" [panelWidth]="'auto'">
                                <mat-option *ngFor="let item of filteredCatalogs['cr'] | async" [value]="item">
                                    {{item.descripcion_actualizada}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="filterForm.get('cr').value">{{filterForm.get('cr').value.descripcion}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" appearance="fill">
                            <mat-label>FECHA DE CREACIÓN</mat-label>
                            <input matInput [matDatepicker]="fechaPicker" placeholder="Fecha de Creacion" formControlName="fechaCreacion" readonly required>
                            <mat-datepicker-toggle matSuffix [for]="fechaPicker"></mat-datepicker-toggle>
                            <mat-datepicker #fechaPicker disabled="false"></mat-datepicker>
                            <mat-hint align="end">seleccionar fecha
                                <mat-icon>keyboard_arrow_up</mat-icon>&nbsp;</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" appearance="fill">
                            <mat-label>REINGENIERIA</mat-label>
                            <mat-select formControlName="reingenieria">
                                <mat-option [value]="">TODOS</mat-option>
                                <mat-option [value]="2">NO</mat-option>
                                <mat-option [value]="1">SI</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex="none">
                            <button mat-flat-button (click)="filterForm.reset()">
                                Limpiar
                            </button>
                        </div>
                        <div fxFlex="none">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Aplicar
                            </button>
                            <!--<button color="primary" mat-stroked-button [matMenuTriggerFor]="menuLote">
                                <mat-icon>print</mat-icon> Imprimir Lote
                            </button>
                            <mat-menu #menuLote="matMenu">
                                <button mat-menu-item *ngFor="let pagina of paginas; let i = index" (click)="imprimirOficio(null, i)">{{ (i + 1) }}</button>
                            </mat-menu>-->
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-card fxFlex.xs="100%" fxFlex="90%">


                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                            <ng-container matColumnDef="folio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> FOLIO</th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                    <b>{{row.rel_trabajador_comision_interna.folio}}</b>
                                    
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="estatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> TRABAJADOR </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                    <b>{{row.nombre}}  {{ row.apellido_paterno }} {{ row.apellido_materno }}</b>
                                    <div style="font-size: 8pt;">
                                        {{row.rfc}}
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESTINO </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>{{ row.rel_trabajador_comision_interna.cr_destino.clues.nombre_unidad }}</b>
                                    <b>{{ (row.rel_trabajador_comision_interna.cr_destino.clues.clues == "CSSSA017213")? " ("+row.rel_trabajador_comision_interna.cr_destino.descripcion+") ":""}}</b>
                                    <br>
                                    <div style="font-size: 8pt;">
                                        {{ row.rel_trabajador_comision_interna.cr_destino.clues.clues }}
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="oficio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> OFICIO </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.rel_trabajador_comision_interna.fecha_oficio }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="periodo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> PERIODO </th>
                                <td mat-cell *matCellDef="let row">
                                    <div *ngIf="row.rel_trabajador_comision_interna.fecha_recepcion == 0">
                                        {{ row.rel_trabajador_comision_interna.fecha_inicio }}<br> {{ row.rel_trabajador_comision_interna.fecha_fin }}
                                    </div>
                                    <div *ngIf="row.rel_trabajador_comision_interna.fecha_recepcion == 1">
                                        FECHA DE RECEPCIÓN
                                    </div>
                                    
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="creacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CREACION </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.rel_trabajador_comision_interna.created_at | date:'yyyy-MM-dd'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <button mat-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>

                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="Agregar(row)"><mat-icon color="primary">edit</mat-icon>EDITAR</button>
                                        <button mat-menu-item (click)="imprimirOficio(row)"><mat-icon color="primary">print</mat-icon>GENERAR OFICIO</button>
                                        <button mat-menu-item style="color: red;" (click)="eliminar(row)"><mat-icon color="warn">delete</mat-icon>CANCELAR CAMBIO</button>
                                        <button mat-menu-item style="color: red;" (click)="truncar(row)"><mat-icon color="warn">block</mat-icon>TRUNCAR CAMBIO</button>
                                    </mat-menu>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadTrabajadorData($event)"></mat-paginator>
                </div>
            </mat-card>
        </section>
    </div>
</section>