<section class="profile">


    
    <section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly start" style="padding-top:5px;">
        <section fxFlex="90" fxLayout="column" [formGroup]="cluesForm">
            <div class="loading-shade" *ngIf="isLoading">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <mat-card fxFlex>
                <mat-card-content>
                    <div class="edit-container">
                        <div class="loading-shade" *ngIf="isLoading">No se encontraron los datos del empleado</div>
                        <section>
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="33" fxFlex.xs="100">
                                    <mat-label>TIPO DE UNIDAD</mat-label>
                                    <mat-select  formControlName="tipo_unidad" #tipoUnidad>
                                        <mat-option [value]="1">REGISTRADA</mat-option>
                                        <mat-option [value]="2">NO REGISTRADA</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex="33" fxFlex.xs="100">
                                    <mat-label>JURISDICCION</mat-label>
                                    <mat-select  formControlName="cve_jurisdiccion">
                                        <mat-option  *ngFor="let obj of catalogoDistritos" [value]="obj.id">{{ obj.descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!--mat-form-field fxFlex="33" fxFlex.xs="100">
                                    <mat-label>TIPO UNIDAD</mat-label>
                                    <mat-select  formControlName="tipo_unidad">
                                        <mat-option [value]="1">SI</mat-option>
                                        <mat-option [value]="2">NO</mat-option>
                                    </mat-select>
                                </mat-form-field-->
                                <mat-form-field fxFlex="*" fxFlex.xs="100">
                                    <mat-label>CLASIFICACION</mat-label>
                                    <mat-select  formControlName="clasificacion">
                                        <mat-option  *ngFor="let obj of catalogoClasificacion" [value]="obj.clasificacion_descripcion">{{ obj.clasificacion_descripcion }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="50" fxFlex.xs="100">
                                    <input matInput formControlName="clues" placeholder="CLAVE CLUES" type="text">
                                    <mat-error *ngIf="cluesForm.get('clues').invalid && (cluesForm.get('clues').dirty || cluesForm.get('clues').touched)">
                                        <span *ngIf="cluesForm.get('clues').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                    <mat-hint *ngIf="tipoUnidad.value == 2" style="color: red;">No se tomara en cuenta</mat-hint>
                                </mat-form-field>
                                <mat-form-field fxFlex="50" fxFlex.xs="100">
                                    <input matInput formControlName="cr" placeholder="CODIGO CR" type="text">
                                    <mat-error *ngIf="cluesForm.get('cr').invalid && (cluesForm.get('cr').dirty || cluesForm.get('cr').touched)">
                                        <span *ngIf="cluesForm.get('cr').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                    <mat-hint *ngIf="tipoUnidad.value == 2" style="color: red;">No se tomara en cuenta</mat-hint>
                                </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100">
                                    <input matInput formControlName="descripcion" placeholder="DESCRIPCION" type="text">
                                    <mat-error *ngIf="cluesForm.get('descripcion').invalid && (cluesForm.get('descripcion').dirty || cluesForm.get('descripcion').touched)">
                                        <span *ngIf="cluesForm.get('descripcion').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                             </div>
                             
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="100" fxFlex.xs="100">
                                    <input matInput formControlName="direccion" placeholder="DIRECCION" type="text">
                                    <mat-error *ngIf="cluesForm.get('direccion').invalid && (cluesForm.get('direccion').dirty || cluesForm.get('direccion').touched)">
                                        <span *ngIf="cluesForm.get('direccion').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>    
                             <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="33" fxFlex.xs="100">
                                    <mat-label>ZONA ECONOMICA</mat-label>
                                    <mat-select  formControlName="ze">
                                        <mat-option [value]="060">060</mat-option>
                                        <mat-option [value]="100">100</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            
                                <mat-form-field fxFlex="33" fxFlex.xs="100">
                                    <input matInput formControlName="municipio" placeholder="Municipio" type="text">
                                    <mat-error *ngIf="cluesForm.get('municipio').invalid && (cluesForm.get('municipio').dirty || cluesForm.get('municipio').touched)">
                                        <span *ngIf="cluesForm.get('municipio').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="*" fxFlex.xs="100">
                                    <input matInput formControlName="telefono" placeholder="TELEFONO" type="text">
                                    <mat-error *ngIf="cluesForm.get('telefono').invalid && (cluesForm.get('telefono').dirty || cluesForm.get('telefono').touched)">
                                        <span *ngIf="cluesForm.get('telefono').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                                
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">    
                                <mat-form-field fxFlex="100" fxFlex.xs="100">
                                    <mat-label>CENTRO DE RESPONSABILIDAD</mat-label>
                                    <input type="text" aria-label="cr_dependencia" matInput formControlName="cr_dependencia" [matAutocomplete]="cr_dependenciaAutocomplete">
                                    <mat-autocomplete #cr_dependenciaAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('cr_dependencia')" [panelWidth]="'auto'">
                                        <mat-option *ngFor="let item of filteredCatalogs['cr'] | async" [value]="item">
                                            {{item.descripcion}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint *ngIf="cluesForm.get('cr_dependencia').value">{{cluesForm.get('cr_dependencia').value.descripcion}}</mat-hint>
                                </mat-form-field>
                             </div>
                            
                        </section>
                    </div>
                </mat-card-content>
                <mat-card-actions fxHide.xs="true" fxLayout.xs="column">
                    <span fxFlex></span>
                    <button mat-raised-button routerLink="/catalogos/clues">Volver a la lista</button>
                    <ng-container *ngIf="puedeGuardar">
                        <button mat-raised-button (click)="accionGuardar()" color="success" [disabled]="!cluesForm.valid || isLoading"><mat-icon>save</mat-icon> Guardar</button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
        </section>
    </section>
    
</section>
