<section class="profile">
    <!--div fxFill-->
    <mat-toolbar class="employee-status-bar" [class.mat-elevation-z2]="true">
        <mat-toolbar-row>
            <mat-icon aria-hidden="false" aria-label="Estatus Empleado">{{statusIcon}}</mat-icon>
            &nbsp;
            <span>{{statusLabel}}&nbsp;</span>
            <span *ngIf="datos_empleado && datos_empleado.permuta_adscripcion_activa" matTooltip="{{datos_empleado.permuta_adscripcion_activa.clues_destino.nombre_unidad}}">[{{datos_empleado.permuta_adscripcion_activa.clues_destino.clues}}]</span>
            <span class="spacer"></span>
            <section>
                <button mat-raised-button><mat-icon>navigate_before</mat-icon> Anterior</button>
                &nbsp;
                <span>4/10</span>
                &nbsp;
                <button mat-raised-button>Siguiente <mat-icon>navigate_next</mat-icon></button>
            </section>
        </mat-toolbar-row>
    </mat-toolbar>
    <!--mat-icon aria-hidden="false" aria-label="Estatus Empleado">verified_user</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Empleado verificado">help</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Empleado verificado">notification_important</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Empleado verificado">warning</mat-icon-->
    
        <section fxLayout="row" fxLayoutAlign="space-evenly start" style="padding-top:5px;">
            <section  fxFlex="25">
                <mat-card>
                    <div class="credential-loading-shade" *ngIf="isLoadingCredential">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
                        <span>Cargando los datos de la credencial del empleado</span>    
                    </div>

                    <div *ngIf="!isLoadingCredential && !datosCredencial" style="text-align: center;">
                        <span>No se encontraron los datos de la credencial de este empleado</span><br>
                        <button mat-button color="primary"><mat-icon>refresh</mat-icon> Recargar los Datos</button>
                    </div>
                    
                    <img *ngIf="!isLoadingCredential && datosCredencial" mat-card-image style="width:100%; margin:0 auto 0 auto; border-radius: 50%;" src="{{datosCredencial.photo}}" alt="">
                    <mat-card-content *ngIf="!isLoadingCredential && datosCredencial" fxLayout="column" fxLayoutAlign="center center">
                        <div fxFlex style="text-align: center;">
                            <h3>{{datosCredencial.Nombre}}<br>
                            <small>{{datosCredencial.Adscripcion_Area}} <!-- <br/>{{datosCredencial.Direccion}} --> </small>
                            </h3>
                        </div>
                        <div fxFlex fxLayout="column" class="info-credential">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="CLUES"  value="{{datosCredencial.clues}}" readonly>
                            </mat-form-field>
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Tipo de Sangre"  value="{{datosCredencial.TipoSangre}}" readonly>
                            </mat-form-field>
                            <mat-form-field fxFlex>
                                <input matInput placeholder="CURP"  value="{{datosCredencial.Curp}}" readonly>
                            </mat-form-field>
                            <mat-form-field fxFlex>
                                <input matInput placeholder="RFC"  value="{{datosCredencial.Rfc}}" readonly>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
            </section>
            <section fxFlex="70" fxLayout="column" [formGroup]="empleadoForm">
                <div class="loading-shade" *ngIf="isLoading">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
                <mat-card fxFlex>
                    <mat-card-content>
                        <div class="edit-container">
                            <div class="loading-shade" *ngIf="!isLoading && !empleado">No se encontraron los datos del empleado</div>
                            
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="25" fxFlex.xs="100">
                                    <input matInput [matDatepicker]="picker2" placeholder="Fecha Ingreso al Gobierno Federal"  formControlName="figf">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field fxFlex="25" fxFlex.xs="100">
                                    <input matInput [matDatepicker]="picker" placeholder="Fecha Ingreso a la SSA"  formControlName="fissa">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <!--section fxFlex fxLayout="column" >
                                    <table style="width:100%; border-collapse: collapse;">
                                        <tr class="schedule-header">
                                            <th *ngFor="let item of tablaHorarioDias" [attr.colspan]="item.count">{{item.label}}</th>
                                        </tr>
                                        <tr class="schedule-body">
                                            <td *ngFor="let item of tablaHorarioHoras" class="{{item.tipo}}">{{item.hora}}</td>
                                        </tr>
                                    </table>
                                    <section fxLayoutAlign="end">
                                        <button mat-button color="accent" (click)="showHorarioDialog()"><mat-icon>schedule</mat-icon> Horario</button>
                                    </section>
                                </section-->
                            </div>
                            
                            <section fxLayout="column" >
                                <div fxLayout="row" fxLayout.xs="column">
                                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                                        <mat-label>CLUES</mat-label>
                                        <input matInput value="{{(datos_empleado && datos_empleado.adscripcion_activa)?datos_empleado.adscripcion_activa.clues.nombre_unidad:'Sin CLUES asignada'}}" readonly>
                                        <mat-hint *ngIf="datos_empleado && datos_empleado.adscripcion_activa">{{datos_empleado.adscripcion_activa.clues.nivel_atencion}}: {{datos_empleado.adscripcion_activa.clues.estatus}}</mat-hint>
                                        <mat-hint *ngIf="datos_empleado && datos_empleado.adscripcion_activa" align="end">[ {{datos_empleado.adscripcion_activa.clues.clues}} ]</mat-hint>
                                    </mat-form-field>
                                </div>
                            </section>
                            <br>
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="25" fxFlex.xs="100">
                                    <input matInput id="rfc" formControlName="rfc" placeholder="RFC" required>
                                    <mat-error *ngIf="empleadoForm.get('rfc').invalid && (empleadoForm.get('rfc').dirty || empleadoForm.get('rfc').touched)">
                                        <span *ngIf="empleadoForm.get('rfc').errors.required">El RFC es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="25" fxFlex.xs="100">
                                    <input matInput id="curp" formControlName="curp" placeholder="CURP" required>
                                    <mat-error *ngIf="empleadoForm.get('curp').invalid && (empleadoForm.get('curp').dirty || empleadoForm.get('curp').touched)">
                                        <span *ngIf="empleadoForm.get('curp').errors.required">La CURP es obligatoria</span>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="50" fxFlex.xs="100">
                                    <input matInput id="nombre" formControlName="nombre" placeholder="Nombre del empleado" required>
                                    <mat-error *ngIf="empleadoForm.get('nombre').invalid && (empleadoForm.get('nombre').dirty || empleadoForm.get('nombre').touched)">
                                        <span *ngIf="empleadoForm.get('nombre').errors.required">El Nombre es obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex fxFlex.xs="100">
                                    <mat-label>CR</mat-label>
                                    <mat-select formControlName="cr_id">
                                        <mat-option *ngFor="let item of catalogos['cr']" [value]="item.cr">
                                            {{item.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="23" fxFlex.xs="100">
                                    <mat-label>Tipo de Nomina</mat-label>
                                    <mat-select formControlName="tipo_nomina_id">
                                    <mat-option *ngFor="let item of catalogos['tipoNomina']" [value]="item.id">
                                        {{item.descripcion}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex fxFlex.xs="100">
                                    <mat-label>Programa</mat-label>
                                    <mat-select formControlName="programa_id">
                                    <mat-option *ngFor="let item of catalogos['programa']" [value]="item.id">
                                        {{item.descripcion}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex fxFlex.xs="100">
                                    <mat-label>Fuente</mat-label>
                                    <mat-select formControlName="fuente_id">
                                    <mat-option *ngFor="let item of catalogos['fuente']" [value]="item.id">
                                        {{item.descripcion}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>    
                            <div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex="20" fxFlex.xs="100">
                                    <mat-label>Rama</mat-label>
                                    <mat-select formControlName="rama_id">
                                    <mat-option *ngFor="let item of catalogos['rama']" [value]="item.id">
                                        {{item.descripcion}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex fxFlex.xs="100">
                                    <mat-label>Codigo</mat-label>
                                    <mat-select formControlName="codigo_id">
                                    <mat-option *ngFor="let item of catalogos['codigo']" [value]="item.codigo">
                                        {{item.descripcion}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                
                                <mat-form-field fxFlex="20" fxFlex.xs="100">
                                    <mat-label>¿Comisionado Sindical?</mat-label>
                                    <mat-select formControlName="comision_sindical">
                                        <mat-option [value]="0">NO</mat-option>
                                        <mat-option [value]="1">SI</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <fieldset>
                                <legend>Grado de Estudios</legend>
                                <div fxLayout="row wrap">
                                    <mat-checkbox fxFlex="33" style="margin-top:5px; margin-bottom:5px;" *ngFor="let item of catalogos['nivel_academico']" value="{{item.id}}">{{item.descripcion}}</mat-checkbox>
                                </div>
                            </fieldset>
                            <!--div fxLayout="row" fxLayout.xs="column">
                                <mat-form-field fxFlex fxFlex.xs="100">
                                    <mat-label>Tipo Profesión</mat-label>
                                    <mat-select formControlName="tipo_profesion_id">
                                        <mat-option *ngFor="let item of catalogos['tipo_profesion']" [value]="item.id">
                                        {{item.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex fxFlex.xs="100">
                                    <mat-label>Profesión</mat-label>
                                    <mat-select formControlName="profesion_id">
                                    <mat-option *ngFor="let item of catalogos['profesion']" [value]="item.id">
                                        {{item.descripcion}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>                            
                            </div-->
                            <!--div fxLayout="column" >
                                <div fxLayout="row wrap">
                                    <div fxFlex></div>
                                    <div fxFlex="none">
                                        <button mat-raised-button color="info" (click)="showEstudiosDialog()"><mat-icon>add_circle</mat-icon> Agregar Estudios</button>
                                    </div>
                                </div>
                                <table mat-table [dataSource]="tablaEscolaridad" class="escolaridad-table mat-elevation-z1">
                                    
                                    <ng-container matColumnDef="Grado">
                                        <th mat-header-cell *matHeaderCellDef> Grado </th>
                                        <td mat-cell *matCellDef="let element"> {{element.grado}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="Estudios">
                                        <th mat-header-cell *matHeaderCellDef> Estudios </th>
                                        <td mat-cell *matCellDef="let element"> {{element.estudios}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="Fecha">
                                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-raised-button color="accent" (click)="showEstudiosDialog(element.id)"><mat-icon>edit</mat-icon></button> &nbsp;
                                            <button mat-icon-button color="warn" (click)="confirmBorrarEstudio(element.id)"><mat-icon>delete</mat-icon></button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="noResultsFound">
                                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                            No se encontraron registros 
                                        </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(tablaEscolaridad!=null && tablaEscolaridad.length==0)}"></tr>
                                </table>
                            </div-->
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <ng-container *ngIf="puedeTransferir">
                            <button mat-raised-button color="primary" (click)="confirmUntieEmploye()"><mat-icon>undo</mat-icon></button>
                            <button mat-raised-button color="primary" (click)="showTransferenciaEmpleadoDialog(datos_empleado.id)"><mat-icon>swap_horiz</mat-icon></button>
                        </ng-container>
                        <span fxFlex></span>
                        <button mat-raised-button routerLink="/empleados">Cancelar</button>
                        <ng-container *ngIf="puedeGuardar">
                            <button mat-raised-button (click)="accionGuardar()" color="success" [disabled]="!empleadoForm.valid || isLoading"><mat-icon>save</mat-icon> Guardar</button>
                            <button mat-raised-button (click)="confirmGuardarValidar()" color="success" [disabled]="!empleadoForm.valid || isLoading"><mat-icon>verified_user</mat-icon> Guardar y Validar</button>
                        </ng-container>
                    </mat-card-actions>
                </mat-card>
            </section>
        </section>
    <!--/div-->
</section>
