<div mat-dialog-title class="mat-typography">
    <!--<div class="credential-loading-shade" *ngIf="isLoadingCredential">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
        <span>Cargando los datos de la credencial del empleado</span>
    </div>-->
    <div fxLayout="row wrap" fxLayoutGap="10px" *ngIf="!isLoadingCredential">
        <div fxFlex.xs="100" fxFlex="15">
            <div><img src="{{ fotoTrabajador }}" style="width: 100%;" alt="Foto Trabajador"></div>
            <div style="font-size: 13pt; text-align: center; line-height: 15px;">
                {{ dataTrabajador.apellido_paterno + ' ' + dataTrabajador.apellido_materno + ' ' + dataTrabajador.nombre }}
            </div>

            <div style="font-size: 11pt; text-align: center; line-height: 15px; margin-top: 10px;">
                {{ (dataTrabajador.rel_datos_laborales.cr_fisico)?dataTrabajador.rel_datos_laborales.cr_fisico.descripcion:'CR físico no asignado' }}
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutGap="0px" *ngIf="!isLoadingCredential">
                <div fxFlex.xs="100" fxFlex="33" matTooltip="VALIDADO" style="background-color: rgba(58, 142, 41, 0.71); text-align: center;">
                    <mat-icon style="color: white; padding: 5px;">check</mat-icon>
                </div>
                <div fxFlex.xs="100" fxFlex="33" matTooltip="ACTUALIZADO" style="background-color: rgba(58, 142, 41, 0.71);; text-align: center;">
                    <mat-icon style="color: white; padding: 5px;">history</mat-icon>
                </div>
                <div fxFlex.xs="100" fxFlex="33" matTooltip="EXPEDIENTE ELECTRÓNICO" style="background-color: rgba(142, 41, 41, 0.71);; text-align: center;">
                    <mat-icon style="color: white; padding: 5px;">picture_as_pdf</mat-icon>
                </div>
            </div>
            <!--<div>
                <section>
                    <div class="example-button-row" style="text-align: center;">
                        <div class="example-flex-container">
                            <button mat-mini-fab matTooltip="VALIDADO" style="background-color: green;" aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button mat-mini-fab matTooltip="ACTUALIZADO" style="background-color: green;" aria-label="Example icon button with a home icon">
                                <mat-icon>history</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" matTooltip="EXPEDIENTE ELECTRÓNICO" aria-label="Example icon button with a menu icon">
                            <mat-icon>picture_as_pdf</mat-icon>
                            </button>

                        </div>
                    </div>
                </section>
            </div>-->
            <mat-divider></mat-divider>
            <div>
                <section>
                    <div class="example-button-row" style="text-align: center;">
                        <div class="example-flex-container">
                            <button mat-icon-button matTooltip="DATOS GENERALES" color="primary" aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon>perm_contact_calendar</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="ESCOLARIDAD" color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>school</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" matTooltip="REGISTRO DE ASISTENCIA" aria-label="Example icon button with a menu icon">
                            <mat-icon>fingerprint</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" matTooltip="TRAMITES" aria-label="Example icon button with a heart icon">
                            <mat-icon>file_present</mat-icon>
                            </button>
                        </div>
                    </div>
                </section>
            </div>


        </div>

        <div fxLayout="row wrap" fxFlex.xs="100" fxFlex="75" *ngIf="dataTrabajador">
            <mat-tab-group dynamicHeight animationDuration="0ms" (selectedTabChange)="dataTabChange($event)" [(selectedIndex)]="navTabSelected" [color]="'accent'" [backgroundColor]="'primary'">
                <mat-tab label="Datos Generales">
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">perm_contact_calendar</mat-icon>
                        <div class="mobile-pc"> Datos Generales</div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="ASISTENCIA">
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">fingerprint</mat-icon>
                        <div class="mobile-pc"> ASISTENCIA</div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>