<section class="profile">

    <div class="form-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    <div class="form-loading-shade" *ngIf="!isLoading && !dataTrabajador">No se encontraron los datos del Trabajador</div>


    <mat-card>
        <mat-grid-list cols="4" rowHeight="2:2" *ngIf="!isLoading && dataTrabajador">
            <mat-grid-tile>{{dataTrabajador.rfc}}</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <div>
        <section *ngIf="miniPagination.total > 0">
            <button mat-raised-button [disabled]="miniPagination.previous == 0" (click)="loadPrevious()"><mat-icon>navigate_before</mat-icon> <span fxHide.xs="true">Anterior</span></button>
            &nbsp;
            <span><small>{{miniPagination.current}}/{{miniPagination.total}}</small></span>
            &nbsp;
            <button mat-raised-button [disabled]="miniPagination.next == 0" (click)="loadNext()"><span fxHide.xs="true">Siguiente</span> <mat-icon>navigate_next</mat-icon></button>
        </section>
        <span fxFlex></span>
        <!-- <button mat-button (click)='cancel()'>Cerrar</button> -->
    </div>

</section>