
<h1 mat-dialog-title>{{nombre}}</h1>
<div mat-dialog-content>
    <form [formGroup]="form" >
        <div class="row">
            
            <div fxFlex="100" fxFlex.xs="100">
                <b>SELECCIONE EL/LOS DOCUMENTO(S) CON INCIDENCIAS:</b>
                <!--<ul >
                    <li><mat-checkbox > ACTA DE NACIMIENTO</mat-checkbox></li>
                    <li><mat-checkbox>CURP</mat-checkbox></li>
                    <li><mat-checkbox>CONSTANCIA DE ANTECEDENTES NO PENALES</mat-checkbox></li>
                    <li><mat-checkbox>TÍTULO (TODOS LOS QUE CUENTE)</mat-checkbox></li>
                    <li><mat-checkbox>CÉDULA PROFESIONAL (TODOS LOS QUE CUENTE)</mat-checkbox></li>
                    <li><mat-checkbox>SOLICITUD DE EMPLEO</mat-checkbox></li>
                </ul>-->
                <ul *ngFor="let choice of checks; let i=index" class="col-md-2">
                    <li>
                        <label>
                            <input type="checkbox" [value]="choice.value" (change)="onCheckChange($event)">
                            {{choice.description}}
                        </label>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px">
            
            
            <div fxFlex="100" fxFlex.xs="100">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex="100" fxFlex.xs="100">
                        <textarea matInput  formControlName="observacion" placeholder="Observación" rows="5" required></textarea>
                        <mat-error *ngIf="form.get('observacion').invalid && (form.get('observacion').dirty || form.get('observacion').touched)">
                            <span *ngIf="form.get('observacion').errors.required">Campo obligatorio</span>
                        </mat-error>
                    </mat-form-field>
                </div>    
                
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button (click)="subir()" color="success" [disabled]="!form.valid"><mat-icon>save</mat-icon> Guardar</button>
</div>

