<section class="profile">
    <!--<mat-toolbar class="employee-advance-bar" [class.mat-elevation-z2]="true" [ifHasPermission]="'KxDd9oPP1HNSGdqNM1bD9gexIxSXhkkm'">
        <mat-toolbar-row class="porcentaje">
            <mat-icon aria-hidden="false" aria-label="Estatus Empleado">speed</mat-icon>
            <span>Estatus: Activos {{countPersonalActivo | number: '2.'}} / Validados {{countPersonalValidado | number: '2.'}}</span>
            <span class="spacer"></span>
            <span>{{ percentPersonalValidado }}% Validado</span>
            <span class="spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>-->

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
            </div>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-hint>
                                <mat-slide-toggle #showAdvancedFilter (change)="toggleAdvancedFilter(showAdvancedFilter.checked)">Filtro Avanzado</mat-slide-toggle>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100" *ngIf="!showAdvancedFilter.checked" [@buttonInOut]>
                        <div fxFlex></div>
                        <!--<section class="search-button">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Buscar
                            </button>
                        </section>-->
                        <section class="search-button">
                            <button mat-raised-button color="accent" style="margin-left: 5px; padding: 10px; font-size: 14pt;" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Buscar
                            </button>
                            <button mat-raised-button [matMenuTriggerFor]="menu" style="margin-left: 5px; padding: 10px; font-size: 14pt;" *ngIf="permiso_oficina == true || permiso_admin == true"><mat-icon>more_horiz</mat-icon></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="reporteDocumentos()"><mat-icon>print</mat-icon> REPORTE DEL DÍA</button>
                            </mat-menu>
                        </section>
                    </div>
                </div>
            </mat-card>

            <!--<div *ngIf="showReportForm || showMyStepper">-->
            <div>
                <div class="my-stepper">
                    <ng-container *ngFor="let step of stepperConfig.steps; let i = index">
                        <div class="my-step" [class.my-step-active]="step.status == 2" [class.my-step-done]="step.status == 3" [class.my-step-error]="step.status == 0">
                            <mat-icon>{{step.icon}}</mat-icon>
                            <div class="my-step-label">
                                {{(step.status
                                < 2)?step.label.standBy:((step.status==2 )?step.label.active:step.label.done)}} <mat-progress-bar *ngIf="step.status == 2" mode="indeterminate">
                                    </mat-progress-bar>
                                    <small *ngIf="step.status == 0" class="my-step-error-message">{{step.errorMessage}}</small>
                            </div>
                            <mat-icon *ngIf="step.status == 3">done</mat-icon>
                            <mat-icon *ngIf="step.status == 0">error</mat-icon>
                        </div>
                        <div *ngIf="(i+1) < stepperConfig.steps.length" class="my-step-separator"></div>
                    </ng-container>
                </div>

            </div>

            <mat-divider [inset]="true"></mat-divider>

            <mat-accordion class="advanced-filter-container">
                <mat-expansion-panel #advancedFilter class="advanced-filter" [formGroup]="filterForm">
                    <br>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                        <mat-form-field fxFlex="50">
                            <mat-label>CLUES</mat-label>
                            <input type="text" aria-label="clues" matInput formControlName="clues" [matAutocomplete]="cluesAutocomplete">
                            <mat-autocomplete #cluesAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('clues')" [panelWidth]="'auto'">
                                <mat-option *ngFor="let item of filteredCatalogs['clues'] | async" [value]="item">
                                    [{{item.clues}}] {{item.nombre_unidad}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="filterForm.get('clues').value">{{filterForm.get('clues').value.nombre_unidad}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-label>CR</mat-label>
                            <input type="text" aria-label="cr" matInput formControlName="cr" [matAutocomplete]="crAutocomplete">
                            <mat-autocomplete #crAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('cr')" [panelWidth]="'auto'">
                                <mat-option *ngFor="let item of filteredCatalogs['cr'] | async" [value]="item">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="filterForm.get('cr').value">{{filterForm.get('cr').value.descripcion}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-label>¿ENVIADO A VALIDACIÓN?</mat-label>
                            <mat-select formControlName="enviado" required>
                                <mat-option [value]="0">TODOS</mat-option>
                                <mat-option [value]="1">SI</mat-option>
                                <mat-option [value]="2">NO</mat-option>
                            </mat-select>
                            <!--<mat-hint *ngIf="filterForm.get('enviado').value">{{filterForm.get('cr').value.descripcion}}</mat-hint>-->
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-label>ESTATUS VALIDACIÓN</mat-label>
                            <mat-select formControlName="estatus" required>
                                <mat-option [value]="0">TODOS</mat-option>
                                <mat-option [value]="6">PENDIENTE DE ENVIAR</mat-option>
                                <mat-option [value]="1">PENDIENTE A APROBAR</mat-option>
                                <mat-option [value]="2">RECHAZADO POR RH</mat-option>
                                <mat-option [value]="3">PENDIENTE A APROBAR POR RH CENTRAL</mat-option>
                                <mat-option [value]="4">RECHAZADO POR RH CENTRAL</mat-option>
                                <mat-option [value]="5">VALIDADO POR RH CENTRAL</mat-option>
                            </mat-select>
                            <!--<mat-hint *ngIf="filterForm.get('enviado').value">{{filterForm.get('cr').value.descripcion}}</mat-hint>-->
                        </mat-form-field>

                    </div>
                    <div fxLayout="row wrap">

                        <div fxFlex></div>
                        <div fxFlex="none">
                            <button mat-flat-button (click)="filterForm.reset()">
                                Limpiar
                            </button>
                        </div>

                        <div fxFlex="none">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Aplicar
                            </button>

                        </div>
                        <div fxFlex="none">
                            <button mat-raised-button color="primary" (click)="reporteDocumentos()" *ngIf="permiso_oficina == true || permiso_admin == true"><mat-icon>print</mat-icon> REPORTE DEL DÍA</button>
                        </div>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-card fxFlex.xs="100%" fxFlex="90%">


                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table class='tabla_datos' [dataSource]="dataSource" class="data-table" matSort>

                            <!-- Name Column -->
                            <ng-container matColumnDef="ESTATUS">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> ESTATUS </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                    <div *ngIf="row.estatus != null">
                                        <mat-icon *ngIf="row.estatus == null">pending</mat-icon>
                                        <mat-icon color="primary" *ngIf="row.estatus == 1 || row.estatus == 2 || row.estatus == 3">timer</mat-icon>
                                        <mat-icon color="warn" *ngIf="row.estatus == 4">error</mat-icon>
                                        <mat-icon style="color:green" *ngIf="row.estatus == 5">check_circle_outline</mat-icon>
                                    </div>
                                    
                                    <div *ngIf="row.estatus == null">
                                        <mat-icon>pending</mat-icon>

                                    </div>
                                    
                                </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="RFC">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>{{row.nombre}}  {{ row.apellido_paterno }} {{ row.apellido_materno }}</b><br>
                                    <span style="font-size: 8pt;">{{row.rfc}}</span> </td>
                            </ng-container>

                            <!-- Email Column -->
                            <!--<ng-container matColumnDef="CURP" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> CURP </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true"> {{row.curp}} </td>
                            </ng-container>-->

                            <!-- Username Column -->
                            <!--<ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
                                <td mat-cell *matCellDef="let row"> {{row.nombre}}  {{ row.apellido_paterno }} {{ row.apellido_materno }}</td>
                            </ng-container>-->
                            <ng-container matColumnDef="CR">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CR </th>
                                <td mat-cell *matCellDef="let row">
                                    <span style="font-size: 9pt;" *ngIf="row.descripcion != null">{{row.descripcion}}</span><br>
                                    <span style="font-size: 8pt;" *ngIf="row.cr != null">{{row.cr}}</span>
                                    
                                    <div *ngIf="row.estatus != null">
                                        <div *ngIf="row.estatus == 2">
                                            <span style="font-weight: bold; color:brown;">Rechazado por Rh de la Unidad</span>
                                        </div>
                                    </div>
                                    <!--<div *ngIf="row.rel_trabajador_documentos">
                                        <div *ngIf="row.estatus == 2" style="color: red;">
                                            <b>{{ row.rel_trabajador_documentos.observacion }} </b>
                                        </div>
                                    </div>-->
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    {{ row.estatus }}
                                    <button mat-button color="primary" [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="CargarDocumento(row)" *ngIf="row.estatus == null || row.estatus == 2 || row.estatus == 4"><mat-icon color="primary">cloud_upload</mat-icon>Cargar PDF</button>
                                        <mat-divider></mat-divider>
                                        <div  *ngIf="row.estatus != null && row.estatus == 1">
                                            <button mat-menu-item  style="font-weight: bold; color: darkslategrey;"><mat-icon color="primary">drag_indicator</mat-icon>RH UNIDAD</button>
                                            <button mat-menu-item (click)="VerificacionDenegar(row.id, 2);"><mat-icon color="warn">cancel_presentation</mat-icon>DENEGAR</button>
                                            <button mat-menu-item (click)="VerificacionAprobar(row.id, 3);"><mat-icon style="color: green;">check_box</mat-icon>APROBAR</button>
                                            <mat-divider></mat-divider>    
                                        </div>
                                        <div  *ngIf="row.estatus != null && row.estatus == 3 && permiso_validador == true">
                                            <button mat-menu-item  style="font-weight: bold; color: darkslategrey;"><mat-icon color="primary">drag_indicator</mat-icon>RH OFICINA CENTRAL</button>
                                            <button mat-menu-item (click)="ObservacionCancelar(row, row.id, 4);"><mat-icon color="warn">cancel_presentation</mat-icon>DENEGAR</button>
                                            <button mat-menu-item (click)="VerificacionAprobar(row.id, 5);"><mat-icon style="color: green;">check_box</mat-icon>APROBAR</button>
                                            <mat-divider></mat-divider>    
                                        </div>
                                        
                                        <button mat-menu-item color="primary" (click)="descargar(row)"  *ngIf="row.estatus != null">
                                            <mat-icon style="color: darkslategray;">visibility</mat-icon> Ver Documento
                                        </button>
                                    </mat-menu>
                                    <!--div *ngIf="row.estatus == null">

                                        <button mat-mini-fab color="primary" mat-stroked-button [matMenuTriggerFor]="menu">
                                            <mat-icon>menu</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="CargarDocumento(row)"><mat-icon color="primary">arrow_upward</mat-icon>Cargar PDF</button>
                                        </mat-menu>
                                    </div>

                                    <div *ngIf="row.estatus != null">

                                        <div *ngIf="row.estatus == 1">
                                            <button mat-mini-fab color="warn" mat-stroked-button [matMenuTriggerFor]="menu">
                                                    <mat-icon>menu</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="VerificacionDenegar(row.id, 2);"><mat-icon color="primary">cancel</mat-icon>DENEGAR</button>
                                                <button mat-menu-item (click)="VerificacionAprobar(row.id, 3);"><mat-icon color="primary">check_circle</mat-icon>APROBAR</button>
                                                <button mat-menu-item color="primary" (click)="descargar(row)">
                                                    <mat-icon color="warn">visibility</mat-icon> Ver
                                                </button>


                                            </mat-menu>

                                        </div>
                                        <div *ngIf="row.estatus == 2">
                                            <button mat-mini-fab color="warn" mat-stroked-button [matMenuTriggerFor]="menu">
                                                    <mat-icon>menu</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="CargarDocumento(row)"><mat-icon color="primary">arrow_upward</mat-icon>Cargar PDF</button>
                                            </mat-menu>
                                        </div>
                                        <div *ngIf="row.estatus == 3  && permiso_validador == false">
                                            Pendiente de Validar por Rh oficina central
                                        </div>
                                        <div *ngIf="row.estatus == 3  && permiso_validador == true">

                                            <button mat-mini-fab color="primary" mat-stroked-button [matMenuTriggerFor]="menu">
                                                    <mat-icon>menu</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="ObservacionCancelar(row, row.id, 4);"><mat-icon color="primary">cancel</mat-icon>DENEGAR</button>
                                                <button mat-menu-item (click)="VerificacionAprobar(row.id, 5);"><mat-icon color="primary">check_circle</mat-icon>APROBAR</button>
                                                <button mat-menu-item color="primary" (click)="descargar(row)">
                                                        <mat-icon color="warn">visibility</mat-icon> Ver
                                                    </button>
                                                <button mat-menu-item (click)="verInformacion(row)" *ngIf="row.rel_trabajador_documentos.detalles.length >0">
                                                        <mat-icon  color="warn">
                                                            error
                                                        </mat-icon>
                                                        DATOS
                                                    </button>

                                            </mat-menu>

                                        </div>
                                        <div *ngIf="row.estatus == 4">
                                            <button mat-mini-fab color="primary" mat-stroked-button [matMenuTriggerFor]="menu">
                                                    <mat-icon>menu</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <div>
                                                    <button mat-menu-item (click)="CargarDocumento(row)"><mat-icon color="primary">arrow_upward</mat-icon>Cargar PDF</button>
                                                    <button mat-menu-item color="primary" (click)="descargar(row)">
                                                            <mat-icon color="warn">visibility</mat-icon> Ver
                                                        </button>
                                                    <button mat-menu-item (click)="verInformacion(row)">
                                                            <mat-icon  color="warn">
                                                                error
                                                            </mat-icon>
                                                            DATOS
                                                        </button>
                                                </div>

                                            </mat-menu>
                                        </div>
                                        <div *ngIf="row.estatus == 5">
                                            <button mat-mini-fab color="success" mat-stroked-button [matMenuTriggerFor]="menu">
                                                    <mat-icon>menu</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <div>
                                                    <button mat-menu-item color="primary" (click)="descargar(row)">
                                                            <mat-icon color="warn">visibility</mat-icon> Ver
                                                        </button>

                                                </div>

                                            </mat-menu>
                                        </div>

                                    </div-->

                                    <button  mat-button *ngIf="row.estatus != null && row.estatus == 4" (click)="verInformacion(row)">
                                        <mat-icon  color="warn">
                                            error
                                        </mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadTrabajadorData($event)"></mat-paginator>
                </div>
            </mat-card>
        </section>
    </div>
</section>