<section class="profile" >
    <mat-toolbar class="employee-advance-bar" [class.mat-elevation-z2]="true" [ifHasPermission]="'KxDd9oPP1HNSGdqNM1bD9gexIxSXhkkm'">
        <mat-toolbar-row class="porcentaje">
            <mat-icon aria-hidden="false" aria-label="Estatus Empleado">speed</mat-icon>
            <span>Estatus: Activos {{countPersonalActivo | number: '2.'}} / Validados {{countPersonalValidado | number: '2.'}}</span>
            <span class="spacer"></span>
            <span>{{ countPersonalActualizado }} ({{percentPersonalActualizado | number : '1.2-2' }}%) Actualizados</span>
            <span class="spacer"></span>
            <span>{{ percentPersonalValidado }}% Validado</span>
            <span class="spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-hint><mat-slide-toggle #showAdvancedFilter (change)="toggleAdvancedFilter(showAdvancedFilter.checked)">Filtro Avanzado</mat-slide-toggle></mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100" *ngIf="!showAdvancedFilter.checked" [@buttonInOut]>
                        <div fxFlex></div>
                        <section class="search-button">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Buscar
                            </button>
                        </section>
                    </div>
                </div>
            </mat-card>
            <mat-card fxFlex.xs="100%" fxFlex="90%" [ifHasPermission]="'KxDd9oPP1HNSGdqNM1bD9gexIxSXhkkm'">
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom:10px;">
                    <div fxFlex>
                    </div>
                    &nbsp;
                    <button mat-raised-button  color="primary"  [ifHasPermission]="'KxDd9oPP1HNSGdqNM1bD9gexIxSXhkkm'" [matMenuTriggerFor]="menuAction"><mat-icon>handyman</mat-icon> Acciones</button>
                    <mat-menu #menuAction="matMenu">
                        <button *ngIf="!capturaFinalizada" mat-menu-item (click)="showAddEmployeDialog()" ><mat-icon>person_search</mat-icon> Buscar Trabajador</button>
                        <mat-divider></mat-divider>
                        <button *ngIf="!capturaFinalizada" mat-menu-item routerLink="/trabajadores/nuevo/" ><mat-icon>person_add_alt</mat-icon> Agregar Trabajador</button>
                        <button *ngIf="!capturaFinalizada" mat-menu-item (click)="showAddSignerDialog()"><mat-icon>create</mat-icon> Agregar Firmantes</button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="toggleReportPanel()" [class.button-spinner]="isLoadingPDF"  [disabled]="isLoadingPDF">
                            <mat-icon fontSet="{{(!showReportForm)?'material-icons-outlined':''}}">{{(showReportForm)?'file_copy':'insert_drive_file'}}</mat-icon> Reporte
                        </button>
                    </mat-menu>                   
                </div>
            </mat-card>    
            <div *ngIf="showReportForm || showMyStepper">
                <div *ngIf="showReportForm">
                    <section fxLayout="row">
                        <mat-form-field fxFlex>
                            <input matInput [(ngModel)]="reportTitle" type="text" placeholder="Titulo del Reporte">
                        </mat-form-field>
                        <section fxFlex="none">
                            <mat-checkbox [(ngModel)]="reportIncludeSigns" class="check-box">Incluir Firmas</mat-checkbox>
                        </section>
                        <button mat-stroked-button (click)="reportePersonalActivo()" color="primary"><mat-icon>insert_drive_file</mat-icon>Generar PDF</button>
                        <button mat-button (click)="reportePersonalActivoExcel()" color="accent" [class.button-spinner]="isLoadingExcel" [disabled]="isLoadingExcel"><mat-icon fontSet="material-icons-outlined">insert_drive_file</mat-icon>Excel</button>
                    </section>
                </div>
                <div class="my-stepper" *ngIf="showMyStepper">
                    <ng-container *ngFor="let step of stepperConfig.steps; let i = index">
                        <div class="my-step" [class.my-step-active]="step.status == 2" [class.my-step-done]="step.status == 3" [class.my-step-error]="step.status == 0">
                            <mat-icon>{{step.icon}}</mat-icon>
                            <div class="my-step-label">
                                {{(step.status < 2)?step.label.standBy:((step.status == 2)?step.label.active:step.label.done)}} <mat-progress-bar *ngIf="step.status == 2" mode="indeterminate"></mat-progress-bar>
                                <small *ngIf="step.status == 0" class="my-step-error-message">{{step.errorMessage}}</small>
                            </div>
                            <mat-icon *ngIf="step.status == 3">done</mat-icon>
                            <mat-icon *ngIf="step.status == 0">error</mat-icon>
                        </div>
                        <div *ngIf="(i+1) < stepperConfig.steps.length" class="my-step-separator"></div>
                    </ng-container>
                </div>
                
            </div>

            <mat-divider [inset]="true"></mat-divider>

            <mat-accordion class="advanced-filter-container">
                <mat-expansion-panel #advancedFilter  class="advanced-filter" [formGroup]="filterForm">
                    <br>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                        <mat-form-field fxFlex="22">
                            <mat-label>CLUES</mat-label>
                            <input type="text" aria-label="clues" matInput formControlName="clues" [matAutocomplete]="cluesAutocomplete">
                            <mat-autocomplete #cluesAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('clues')" [panelWidth]="'auto'">
                                <mat-option *ngFor="let item of filteredCatalogs['clues'] | async" [value]="item">
                                    [{{item.clues}}] {{item.nombre_unidad}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="filterForm.get('clues').value">{{filterForm.get('clues').value.nombre_unidad}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="23">
                            <mat-label>CR</mat-label>
                            <input type="text" aria-label="cr" matInput formControlName="cr" [matAutocomplete]="crAutocomplete">
                            <mat-autocomplete #crAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('cr')" [panelWidth]="'auto'">
                                <mat-option *ngFor="let item of filteredCatalogs['cr'] | async" [value]="item">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="filterForm.get('cr').value">{{filterForm.get('cr').value.descripcion}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="30">
                            <mat-label>Rama</mat-label>
                            <mat-select #ramaFilter formControlName="rama" [compareWith]="compareRamaSelect">
                                <mat-option>Sin Filtro</mat-option>
                                <mat-option *ngFor="let item of filterCatalogs['rama']" [value]="item">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15">
                            <mat-label>Estatus</mat-label>
                            <mat-select #estatusFilter formControlName="estatus" [compareWith]="compareEstatusSelect">
                                <mat-option>Sin Filtro</mat-option>
                                <mat-option *ngFor="let item of filterCatalogs['estatus']" [value]="item">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="5">
                            <mat-label>Comisión</mat-label>
                            <mat-select #comisionFilter formControlName="comisionado" [compareWith]="compareComisionSelect">
                                <mat-option>Sin Filtro</mat-option>
                                <mat-option [value]="1">SI</mat-option>
                                <mat-option [value]="2">NO</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap">
                        <mat-form-field fxFlex="50" *ngIf="filterCatalogs.grupos">
                            <mat-label>Grupos</mat-label>
                            <input type="text" aria-label="grupos" matInput formControlName="grupos" [matAutocomplete]="gruposAutocomplete">
                            <mat-autocomplete #gruposAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" [panelWidth]="'auto'">
                                <mat-option *ngFor="let item of filteredCatalogs['grupos'] | async" [value]="item">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="filterForm.get('grupos').value">{{filterForm.get('grupos').value.descripcion}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="15">
                            <mat-label>Adscripción</mat-label>
                            <mat-select #adscripcionFilter formControlName="adscripcion" [compareWith]="compareAdscripcionSelect">
                                <mat-option>Sin Filtro</mat-option>
                                <mat-option *ngFor="let item of filterCatalogs['adscripcion']" [value]="item">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>        
                        <mat-form-field fxFlex="5">
                            <mat-label>E4</mat-label>
                            <mat-select #comisionFilter formControlName="e4" [compareWith]="comparee4Select">
                                <mat-option [value]="0">Todos</mat-option>
                                <mat-option [value]="1">SI</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex></div>
                        <div fxFlex="none">
                            <button mat-flat-button (click)="filterForm.reset()">
                                Limpiar
                            </button>
                        </div>
                        <div fxFlex="none">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Aplicar
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                
                
                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="estatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTATUS </th>
                                <td mat-cell *matCellDef="let row"> 
                                    <div  *ngIf="row.estatus!=1">
                                        <mat-icon>
                                            {{ statusIcon[row.estatus] }}
                                        </mat-icon> 
                                    </div>
                                    <div  *ngIf="row.estatus==1">
                                        <mat-icon  [ngClass]="{'actualizacion_completa': row.actualizado==1}">
                                            {{ validateIcon[row.validado] }}
                                        </mat-icon> 
                                        
                                    </div>
                                   
                                </td>
                            </ng-container>    
                    
                            <!-- Name Column -->
                            <ng-container matColumnDef="RFC" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> NOMBRE </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                    <b>{{row.nombre}}  {{ row.apellido_paterno }} {{ row.apellido_materno }}</b>
                                    <div style="font-size: 8pt;">
                                        {{row.rfc}}
                                    </div>
                                    <div *ngIf="row.rel_datos_comision" style="font-size: 7pt;">
                                        Comisión sindical: {{ row.rel_datos_comision.sindicato.descripcion }}
                                    </div>
                                     </td>
                            </ng-container>

                            <!-- Email Column -->
                            <!--<ng-container matColumnDef="CURP" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> CURP </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true"> {{row.curp}} </td>
                            </ng-container>-->

                            <!-- Username Column -->
                            <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CR </th>
                                <td mat-cell *matCellDef="let row">
                                    <div *ngIf="row.rel_datos_laborales">
                                            {{ row.rel_datos_laborales.cr_fisico.descripcion}}
                                        <div style="font-size: 8pt;">
                                            {{ row.rel_datos_laborales.cr_fisico_id}}
                                        </div>
                                    </div>
                                    
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions" >
                                <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <!--<button mat-stroked-button color="primary" matTooltip="Editar Trabajador" (click)="editTrabajador(i)" routerLink="/trabajadores/editar/{{row.id}}"><mat-icon>edit</mat-icon></button>&nbsp;-->
                                    
                                    <button mat-mini-fab color="primary" mat-stroked-button [matMenuTriggerFor]="menu">
                                            <mat-icon>menu</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngIf="row.estatus != 3"  (click)="verEmpleado(row.id,i)"><mat-icon color="primary">remove_red_eye</mat-icon>Detalles</button>
                                        <button mat-menu-item *ngIf="row.estatus == 1 && row.validado == 0  && row.actualizado == 1"  [ifHasPermission]="'6Jf8zRlZbdY3jTDVJNLKXkKL8NjuGOyo'" (click)="validateTrabajador(row.id)"><mat-icon  color="primary">check_cirlce</mat-icon>Validar</button>
                                        <button mat-menu-item #lista *ngIf="row.estatus == 1 && !row.rel_datos_comision" [ifHasPermission]="'6Jf8zRlZbdY3jTDVJNLKXkKL8NjuGOyo'" (click)="liberarTrabajador(row.id)"><mat-icon color="warn">link_off</mat-icon>Desligar</button>
                                        <button mat-menu-item *ngIf="row.estatus == 1 && !row.rel_datos_comision" [ifHasPermission]="'6Jf8zRlZbdY3jTDVJNLKXkKL8NjuGOyo'" (click)="BajaTrabajador(row)"><mat-icon color="warn">person_remove</mat-icon>Dar de Baja</button>     
                                        <button mat-menu-item *ngIf="row.estatus == 1 && !row.rel_datos_comision" [ifHasPermission]="'6Jf8zRlZbdY3jTDVJNLKXkKL8NjuGOyo'" (click)="TransferirTrabajador(row)"><mat-icon color="primary">360</mat-icon>Transferir</button>     
                                        <button mat-menu-item *ngIf="row.estatus == 1 && !row.rel_datos_comision" [ifHasPermission]="'6Jf8zRlZbdY3jTDVJNLKXkKL8NjuGOyo'" (click)="ComisionSindical(row)"><mat-icon color="primary">group</mat-icon>Comisión Sindical</button>     
                                        <!--<button mat-menu-item *ngIf="row.cr_fisico_id != row.cr_nomina_id" fxHide.xs="true" (click)="solicitar(1, row.id)"><mat-icon color="primary">article</mat-icon>Comisión</button>-->
                                    </mat-menu>
                                    
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros 
                                </td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadTrabajadorData($event)"></mat-paginator>
                </div>                
            </mat-card>
        </section>
    </div>
</section>