<section class="profile" >
    

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
            

            <mat-accordion class="advanced-filter-container">
                
            </mat-accordion>
            
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                
                
                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="estatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                                <td mat-cell *matCellDef="let row"> <mat-icon>{{(row.estatus >= 2)?statusIcon[row.estatus]:statusIcon[row.estatus+'-'+row.validado]}}</mat-icon> </td>
                            </ng-container>
                    
                            <!-- Username Column -->
                            <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
                                <td mat-cell *matCellDef="let row"> {{row.nombre}} {{ row.apellido_paterno }} {{ row.apellido_materno }}</td>
                            </ng-container>
                    
                            <!-- Name Column -->
                            <ng-container matColumnDef="RFC" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> RFC </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true"> {{row.rfc}} </td>
                            </ng-container>
                    
                            <!-- Email Column -->
                            <ng-container matColumnDef="Clues" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> CLUES </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true"> {{row.clues}} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <button *ngIf="!capturaFinalizada && row.validado != 1 && row.estatus != 2" mat-raised-button color="primary" (click)="editTrabajador(i)" routerLink="/trabajadores/editar/{{row.id}}"><mat-icon>edit</mat-icon></button>
                                    <button *ngIf="row.validado == 1 || capturaFinalizada || row.estatus == 2" mat-raised-button color="primary" (click)="verEmpleado(row.id,i)"><mat-icon>remove_red_eye</mat-icon></button>
                                    <button *ngIf="!capturaFinalizada && row.permuta_activa_clues" mat-icon-button color="accent" (click)="confirmTransferEmploye(row.id,i)"><mat-icon>swap_horizontal_circle</mat-icon></button>
                                    <button *ngIf="!capturaFinalizada && row.estatus == 1" mat-icon-button color="warn" fxHide.xs="true" (click)="confirmUntieEmploye(row.id)"><mat-icon>link_off</mat-icon></button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros 
                                </td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadEmpleadosData($event)"></mat-paginator>
                </div>                
            </mat-card>
        </section>
    </div>
</section>