/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

a.link-route-item-collapsed div.mat-list-item-content{
/*.mat-list-base .mat-list-item .mat-list-item-content{*/
    padding: 0px !important;
}

.mat-success {
    color: #fff !important;
    background-color: #28a745 !important;
}
.mat-success[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-success {
    color: #fff !important;
    background-color: #28a745 !important;
}
.mat-success[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-info {
    color: #fff !important;
    background-color: #0c94d3 !important;
}
.mat-info[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}