<h1 mat-dialog-title>INSTRUCCIONES</h1>
<div mat-dialog-content>
  <div style="text-align: justify; font-weight: bold;">
    <div class="lista">1.- Registrarse (no podrá registrarse más de una vez).</div>
    <div class="lista">&nbsp;&nbsp;&nbsp;&nbsp;1.1.- Una vez registrado podrá ingresar a su avance mediante su rfc.</div>
    <div class="lista">2.- Ver todos los videos (Se sugiere ver los videos de manera secuencial)</div>
    <div class="lista">&nbsp;&nbsp;&nbsp;&nbsp;2.1.- Ver video completo para guardar avance, al concluir los 4 videos, se habilitará el cuestionario.</div>
    <div class="lista">3.- Iniciar y concluir cuestionario. No se podrá volver a realizar <br><span style="color: red">(<b>Nota:</b> Se sugiere realizarlo en pc, dadas las condiones de texto, queda en su responsabilidad en que dispositivo lo realice).</span></div>
    <div class="lista">4.- Al finalizar el cuestionario se proporcionará la calificación obtenida.</div>
  </div>  
  <!--<ul style="list-style-type: none;">
        <li>1.- Registrarse (no podrá registrarse más de una vez).</li>
        <li>1.1.- Una vez registrado podrá ingresar a su avance mediante su rfc. </li>
        <li>2.- Ver todos los videos (Se sugiere ver los videos de manera secuencial)</li>
        <li>2.1.- Ver video completo para guardar avance, al concluir los 4 videos, se habilitará el cuestionario.</li>
        <li>2.2.- Iniciar y concluir cuestionario. No se podrá volver a realizar (<b>Nota:</b> Se sugiere realizarlo en pc, dadas las condiones de texto, queda en su responsabilidad en que dispositivo lo realiza).</li>
        <li>3.- Al finalizar el cuestionario se proporcionará la calificación obtenida.</li>
    </ul>-->
  <br>
    <b>Nota:</b> * Dudas hacia los ponentes enviarlas al correo:
    <a href="mailto:capacitaciondengue2020.chiapas@gmail.com">capacitaciondengue2020.chiapas@gmail.com</a>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>

                 