<h1 mat-dialog-title>INSTRUCCIONES</h1>
<div mat-dialog-content>
    <ul>
        <li>1.- Registrarse (no podrá registrarse más de una vez).</li>
        <li>1.1.- Una vez registado podrá ingresar a su avance mediante su rfc. </li>
        <li>2.- Ver todos los videos</li>
        <li>2.1.- Ver video completo para guaradar avance, al concluir los 4 videos, se habilitará el cuestionario.</li>
        <li>2.2.- Iniciar y concluir cuestionario. No se podra volver a realizar.</li>
        <li>3.- Al finalizar el cuestionario se proporcionará la calificación obtenida.</li>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>

                 